In [38]:
import numpy as np
import pandas as pd

In [39]:
a=pd.read_csv("dataset/customer.csv")
a

    age  gender   review education purchased
0    30  Female  Average    School        No
1    68  Female     Poor        UG        No
2    70  Female     Good        PG        No
3    72  Female     Good        PG        No
4    16  Female  Average        UG        No
5    31  Female  Average    School       Yes
6    18    Male     Good    School        No
7    60  Female     Poor    School       Yes
8    65  Female  Average        UG        No
9    74    Male     Good        UG       Yes
10   98  Female     Good        UG       Yes
11   74    Male     Good        UG       Yes
12   51    Male     Poor    School        No
13   57  Female  Average    School        No
14   15    Male     Poor        PG       Yes
15   75    Male     Poor        UG        No
16   59    Male     Poor        UG       Yes
17   22  Female     Poor        UG       Yes
18   19    Male     Good    School        No
19   97    Male     Poor        PG       Yes
20   57  Female  Average    School       Yes
21   32    Male  Average        PG        No
22   18  Female     Poor        PG       Yes
23   96  Female     Good    School        No
24   16  Female  Average        PG       Yes
25   57  Female     Good    School        No
26   53  Female     Poor        PG        No
27   69  Female     Poor        PG        No
28   48    Male     Poor    School        No
29   83  Female  Average        UG       Yes
30   73    Male  Average        UG        No
31   22  Female     Poor    School       Yes
32   92    Male  Average        UG       Yes
33   89  Female     Good        PG       Yes
34   86    Male  Average    School        No
35   74    Male     Poor    School       Yes
36   34  Female     Good        UG       Yes
37   94    Male  Average        PG       Yes
38   45  Female     Good    School        No
39   76    Male     Poor        PG        No
40   39    Male     Good    School        No
41   23    Male     Good        PG       Yes
42   30  Female     Good        PG       Yes
43   27    Male     Poor        PG        No
44   77  Female  Average        UG        No
45   61    Male     Poor        PG       Yes
46   64  Female     Poor        PG        No
47   38  Female     Good        PG       Yes
48   39  Female     Good        UG       Yes
49   25  Female     Good        UG        No

In [40]:
from sklearn.preprocessing import OneHotEncoder

In [41]:
new=OneHotEncoder(drop='first',
    sparse=False)

In [42]:
new.fit_transform(a[['gender']])

array([[0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [1.],
       [0.],
       [1.],
       [1.],
       [0.],
       [1.],
       [1.],
       [1.],
       [0.],
       [1.],
       [1.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [1.],
       [0.],
       [1.],
       [0.],
       [1.],
       [1.],
       [0.],
       [1.],
       [0.],
       [1.],
       [1.],
       [1.],
       [0.],
       [1.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.]])

In [43]:
a=a.iloc[:,2:4]

In [44]:
a

     review education
0   Average    School
1      Poor        UG
2      Good        PG
3      Good        PG
4   Average        UG
5   Average    School
6      Good    School
7      Poor    School
8   Average        UG
9      Good        UG
10     Good        UG
11     Good        UG
12     Poor    School
13  Average    School
14     Poor        PG
15     Poor        UG
16     Poor        UG
17     Poor        UG
18     Good    School
19     Poor        PG
20  Average    School
21  Average        PG
22     Poor        PG
23     Good    School
24  Average        PG
25     Good    School
26     Poor        PG
27     Poor        PG
28     Poor    School
29  Average        UG
30  Average        UG
31     Poor    School
32  Average        UG
33     Good        PG
34  Average    School
35     Poor    School
36     Good        UG
37  Average        PG
38     Good    School
39     Poor        PG
40     Good    School
41     Good        PG
42     Good        PG
43     Poor        PG
44  Average        UG
45     Poor        PG
46     Poor        PG
47     Good        PG
48     Good        UG
49     Good        UG

In [45]:
from sklearn.preprocessing import OrdinalEncoder

In [46]:
new=OrdinalEncoder(categories=[['Good','Average','Poor'],['UG','PG','School']])

In [47]:
new.fit(a)

OrdinalEncoder(categories=[['Good', 'Average', 'Poor'], ['UG', 'PG', 'School']])

In [48]:
x_label=new.transform(a)

In [49]:
x_label

array([[1., 2.],
       [2., 0.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [1., 2.],
       [0., 2.],
       [2., 2.],
       [1., 0.],
       [0., 0.],
       [0., 0.],
       [0., 0.],
       [2., 2.],
       [1., 2.],
       [2., 1.],
       [2., 0.],
       [2., 0.],
       [2., 0.],
       [0., 2.],
       [2., 1.],
       [1., 2.],
       [1., 1.],
       [2., 1.],
       [0., 2.],
       [1., 1.],
       [0., 2.],
       [2., 1.],
       [2., 1.],
       [2., 2.],
       [1., 0.],
       [1., 0.],
       [2., 2.],
       [1., 0.],
       [0., 1.],
       [1., 2.],
       [2., 2.],
       [0., 0.],
       [1., 1.],
       [0., 2.],
       [2., 1.],
       [0., 2.],
       [0., 1.],
       [0., 1.],
       [2., 1.],
       [1., 0.],
       [2., 1.],
       [2., 1.],
       [0., 1.],
       [0., 0.],
       [0., 0.]])

In [50]:
b=pd.read_csv("dataset/cars.csv")
b

        brand  km_driven    fuel                 owner  selling_price
0      Maruti     145500  Diesel           First Owner         450000
1       Skoda     120000  Diesel          Second Owner         370000
2       Honda     140000  Petrol           Third Owner         158000
3     Hyundai     127000  Diesel           First Owner         225000
4      Maruti     120000  Petrol           First Owner         130000
...       ...        ...     ...                   ...            ...
8123  Hyundai     110000  Petrol           First Owner         320000
8124  Hyundai     119000  Diesel  Fourth & Above Owner         135000
8125   Maruti     120000  Diesel           First Owner         382000
8126     Tata      25000  Diesel           First Owner         290000
8127     Tata      25000  Diesel           First Owner         290000

[8128 rows x 5 columns]

In [51]:
pd.get_dummies(b,columns=['fuel'])

,brand,km_driven,owner,selling_price,fuel_CNG,fuel_Diesel,fuel_LPG,fuel_Petrol
0,Maruti,145500,First Owner,450000,0,1,0,0
1,Skoda,120000,Second Owner,370000,0,1,0,0
2,Honda,140000,Third Owner,158000,0,0,0,1
3,Hyundai,127000,First Owner,225000,0,1,0,0
4,Maruti,120000,First Owner,130000,0,0,0,1
...,...,...,...,...,...,...,...,...
8123,Hyundai,110000,First Owner,320000,0,0,0,1
8124,Hyundai,119000,Fourth & Above Owner,135000,0,1,0,0
8125,Maruti,120000,First Owner,382000,0,1,0,0
8126,Tata,25000,First Owner,290000,0,1,0,0
8127,Tata,25000,First Owner,290000,0,1,0,0

In [52]:
pd.get_dummies(b,columns=['fuel','owner'])

,brand,km_driven,selling_price,fuel_CNG,fuel_Diesel,fuel_LPG,fuel_Petrol,owner_First Owner,owner_Fourth & Above Owner,owner_Second Owner,owner_Test Drive Car,owner_Third Owner
0,Maruti,145500,450000,0,1,0,0,1,0,0,0,0
1,Skoda,120000,370000,0,1,0,0,0,0,1,0,0
2,Honda,140000,158000,0,0,0,1,0,0,0,0,1
3,Hyundai,127000,225000,0,1,0,0,1,0,0,0,0
4,Maruti,120000,130000,0,0,0,1,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
8123,Hyundai,110000,320000,0,0,0,1,1,0,0,0,0
8124,Hyundai,119000,135000,0,1,0,0,0,1,0,0,0
8125,Maruti,120000,382000,0,1,0,0,1,0,0,0,0
8126,Tata,25000,290000,0,1,0,0,1,0,0,0,0
8127,Tata,25000,290000,0,1,0,0,1,0,0,0,0

In [53]:
from sklearn.preprocessing import OneHotEncoder

In [54]:
new=OneHotEncoder(drop='first',
    sparse=False,)

In [55]:
x=new.fit_transform(b[['fuel']])

In [56]:
x

array([[1., 0., 0.],
       [1., 0., 0.],
       [0., 0., 1.],
       ...,
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.]])

In [57]:
c=pd.read_csv("dataset/Social_Network_Ads.csv")

In [58]:
c

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

In [59]:
x1=c.iloc[:,2:4].values

In [60]:
x1

array([[    19,  19000],
       [    35,  20000],
       [    26,  43000],
       [    27,  57000],
       [    19,  76000],
       [    27,  58000],
       [    27,  84000],
       [    32, 150000],
       [    25,  33000],
       [    35,  65000],
       [    26,  80000],
       [    26,  52000],
       [    20,  86000],
       [    32,  18000],
       [    18,  82000],
       [    29,  80000],
       [    47,  25000],
       [    45,  26000],
       [    46,  28000],
       [    48,  29000],
       [    45,  22000],
       [    47,  49000],
       [    48,  41000],
       [    45,  22000],
       [    46,  23000],
       [    47,  20000],
       [    49,  28000],
       [    47,  30000],
       [    29,  43000],
       [    31,  18000],
       [    31,  74000],
       [    27, 137000],
       [    21,  16000],
       [    28,  44000],
       [    27,  90000],
       [    35,  27000],
       [    33,  28000],
       [    30,  49000],
       [    26,  72000],
       [    27,  31000],
       [    27,  17000],
       [    33,  51000],
       [    35, 108000],
       [    30,  15000],
       [    28,  84000],
       [    23,  20000],
       [    25,  79000],
       [    27,  54000],
       [    30, 135000],
       [    31,  89000],
       [    24,  32000],
       [    18,  44000],
       [    29,  83000],
       [    35,  23000],
       [    27,  58000],
       [    24,  55000],
       [    23,  48000],
       [    28,  79000],
       [    22,  18000],
       [    32, 117000],
       [    27,  20000],
       [    25,  87000],
       [    23,  66000],
       [    32, 120000],
       [    59,  83000],
       [    24,  58000],
       [    24,  19000],
       [    23,  82000],
       [    22,  63000],
       [    31,  68000],
       [    25,  80000],
       [    24,  27000],
       [    20,  23000],
       [    33, 113000],
       [    32,  18000],
       [    34, 112000],
       [    18,  52000],
       [    22,  27000],
       [    28,  87000],
       [    26,  17000],
       [    30,  80000],
       [    39,  42000],
       [    20,  49000],
       [    35,  88000],
       [    30,  62000],
       [    31, 118000],
       [    24,  55000],
       [    28,  85000],
       [    26,  81000],
       [    35,  50000],
       [    22,  81000],
       [    30, 116000],
       [    26,  15000],
       [    29,  28000],
       [    29,  83000],
       [    35,  44000],
       [    35,  25000],
       [    28, 123000],
       [    35,  73000],
       [    28,  37000],
       [    27,  88000],
       [    28,  59000],
       [    32,  86000],
       [    33, 149000],
       [    19,  21000],
       [    21,  72000],
       [    26,  35000],
       [    27,  89000],
       [    26,  86000],
       [    38,  80000],
       [    39,  71000],
       [    37,  71000],
       [    38,  61000],
       [    37,  55000],
       [    42,  80000],
       [    40,  57000],
       [    35,  75000],
       [    36,  52000],
       [    40,  59000],
       [    41,  59000],
       [    36,  75000],
       [    37,  72000],
       [    40,  75000],
       [    35,  53000],
       [    41,  51000],
       [    39,  61000],
       [    42,  65000],
       [    26,  32000],
       [    30,  17000],
       [    26,  84000],
       [    31,  58000],
       [    33,  31000],
       [    30,  87000],
       [    21,  68000],
       [    28,  55000],
       [    23,  63000],
       [    20,  82000],
       [    30, 107000],
       [    28,  59000],
       [    19,  25000],
       [    19,  85000],
       [    18,  68000],
       [    35,  59000],
       [    30,  89000],
       [    34,  25000],
       [    24,  89000],
       [    27,  96000],
       [    41,  30000],
       [    29,  61000],
       [    20,  74000],
       [    26,  15000],
       [    41,  45000],
       [    31,  76000],
       [    36,  50000],
       [    40,  47000],
       [    31,  15000],
       [    46,  59000],
       [    29,  75000],
       [    26,  30000],
       [    32, 135000],
       [    32, 100000],
       [    25,  90000],
       [    37,  33000],
       [    35,  38000],
       [    33,  69000],
       [    18,  86000],
       [    22,  55000],
       [    35,  71000],
       [    29, 148000],
       [    29,  47000],
       [    21,  88000],
       [    34, 115000],
       [    26, 118000],
       [    34,  43000],
       [    34,  72000],
       [    23,  28000],
       [    35,  47000],
       [    25,  22000],
       [    24,  23000],
       [    31,  34000],
       [    26,  16000],
       [    31,  71000],
       [    32, 117000],
       [    33,  43000],
       [    33,  60000],
       [    31,  66000],
       [    20,  82000],
       [    33,  41000],
       [    35,  72000],
       [    28,  32000],
       [    24,  84000],
       [    19,  26000],
       [    29,  43000],
       [    19,  70000],
       [    28,  89000],
       [    34,  43000],
       [    30,  79000],
       [    20,  36000],
       [    26,  80000],
       [    35,  22000],
       [    35,  39000],
       [    49,  74000],
       [    39, 134000],
       [    41,  71000],
       [    58, 101000],
       [    47,  47000],
       [    55, 130000],
       [    52, 114000],
       [    40, 142000],
       [    46,  22000],
       [    48,  96000],
       [    52, 150000],
       [    59,  42000],
       [    35,  58000],
       [    47,  43000],
       [    60, 108000],
       [    49,  65000],
       [    40,  78000],
       [    46,  96000],
       [    59, 143000],
       [    41,  80000],
       [    35,  91000],
       [    37, 144000],
       [    60, 102000],
       [    35,  60000],
       [    37,  53000],
       [    36, 126000],
       [    56, 133000],
       [    40,  72000],
       [    42,  80000],
       [    35, 147000],
       [    39,  42000],
       [    40, 107000],
       [    49,  86000],
       [    38, 112000],
       [    46,  79000],
       [    40,  57000],
       [    37,  80000],
       [    46,  82000],
       [    53, 143000],
       [    42, 149000],
       [    38,  59000],
       [    50,  88000],
       [    56, 104000],
       [    41,  72000],
       [    51, 146000],
       [    35,  50000],
       [    57, 122000],
       [    41,  52000],
       [    35,  97000],
       [    44,  39000],
       [    37,  52000],
       [    48, 134000],
       [    37, 146000],
       [    50,  44000],
       [    52,  90000],
       [    41,  72000],
       [    40,  57000],
       [    58,  95000],
       [    45, 131000],
       [    35,  77000],
       [    36, 144000],
       [    55, 125000],
       [    35,  72000],
       [    48,  90000],
       [    42, 108000],
       [    40,  75000],
       [    37,  74000],
       [    47, 144000],
       [    40,  61000],
       [    43, 133000],
       [    59,  76000],
       [    60,  42000],
       [    39, 106000],
       [    57,  26000],
       [    57,  74000],
       [    38,  71000],
       [    49,  88000],
       [    52,  38000],
       [    50,  36000],
       [    59,  88000],
       [    35,  61000],
       [    37,  70000],
       [    52,  21000],
       [    48, 141000],
       [    37,  93000],
       [    37,  62000],
       [    48, 138000],
       [    41,  79000],
       [    37,  78000],
       [    39, 134000],
       [    49,  89000],
       [    55,  39000],
       [    37,  77000],
       [    35,  57000],
       [    36,  63000],
       [    42,  73000],
       [    43, 112000],
       [    45,  79000],
       [    46, 117000],
       [    58,  38000],
       [    48,  74000],
       [    37, 137000],
       [    37,  79000],
       [    40,  60000],
       [    42,  54000],
       [    51, 134000],
       [    47, 113000],
       [    36, 125000],
       [    38,  50000],
       [    42,  70000],
       [    39,  96000],
       [    38,  50000],
       [    49, 141000],
       [    39,  79000],
       [    39,  75000],
       [    54, 104000],
       [    35,  55000],
       [    45,  32000],
       [    36,  60000],
       [    52, 138000],
       [    53,  82000],
       [    41,  52000],
       [    48,  30000],
       [    48, 131000],
       [    41,  60000],
       [    41,  72000],
       [    42,  75000],
       [    36, 118000],
       [    47, 107000],
       [    38,  51000],
       [    48, 119000],
       [    42,  65000],
       [    40,  65000],
       [    57,  60000],
       [    36,  54000],
       [    58, 144000],
       [    35,  79000],
       [    38,  55000],
       [    39, 122000],
       [    53, 104000],
       [    35,  75000],
       [    38,  65000],
       [    47,  51000],
       [    47, 105000],
       [    41,  63000],
       [    53,  72000],
       [    54, 108000],
       [    39,  77000],
       [    38,  61000],
       [    38, 113000],
       [    37,  75000],
       [    42,  90000],
       [    37,  57000],
       [    36,  99000],
       [    60,  34000],
       [    54,  70000],
       [    41,  72000],
       [    40,  71000],
       [    42,  54000],
       [    43, 129000],
       [    53,  34000],
       [    47,  50000],
       [    42,  79000],
       [    42, 104000],
       [    59,  29000],
       [    58,  47000],
       [    46,  88000],
       [    38,  71000],
       [    54,  26000],
       [    60,  46000],
       [    60,  83000],
       [    39,  73000],
       [    59, 130000],
       [    37,  80000],
       [    46,  32000],
       [    46,  74000],
       [    42,  53000],
       [    41,  87000],
       [    58,  23000],
       [    42,  64000],
       [    48,  33000],
       [    44, 139000],
       [    49,  28000],
       [    57,  33000],
       [    56,  60000],
       [    49,  39000],
       [    39,  71000],
       [    47,  34000],
       [    48,  35000],
       [    48,  33000],
       [    47,  23000],
       [    45,  45000],
       [    60,  42000],
       [    39,  59000],
       [    46,  41000],
       [    51,  23000],
       [    50,  20000],
       [    36,  33000],
       [    49,  36000]], dtype=int64)

In [61]:
y1=c.iloc[:,4].values

In [62]:
y1

array([0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1,
       0, 1, 1, 1, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0,
       1, 1, 0, 1, 0, 1, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 1, 1, 0,
       1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1,
       0, 1, 0, 1, 1, 1, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 0, 1,
       1, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1,
       0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0,
       1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1,
       0, 1, 0, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1,
       1, 1, 0, 1], dtype=int64)

In [63]:
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest=train_test_split(x1,y1,test_size=1/3,random_state=2)

In [64]:
from sklearn.preprocessing import StandardScaler

In [65]:
new=StandardScaler()

In [66]:
xtrain=new.fit_transform(xtrain)

In [67]:
xtest=new.transform(xtest)

In [68]:
xtrain

array([[ 0.12227406,  0.01521613],
       [ 1.92394485,  2.15627991],
       [-1.01562328, -1.48059556],
       [ 0.31192361,  0.2791829 ],
       [ 2.01876962, -1.21662879],
       [-1.11044806, -0.54204705],
       [ 0.21709883,  0.13253469],
       [-0.25702506, -0.95266202],
       [-0.63632417,  0.01521613],
       [ 0.21709883,  0.04454577],
       [ 0.40674839, -0.16076172],
       [-1.11044806, -1.12863986],
       [-0.0673755 ,  2.21493919],
       [ 1.07052184, -0.16076172],
       [ 0.88087228,  1.01242392],
       [-0.0673755 ,  0.24985326],
       [-0.54149939, -1.53925484],
       [-1.11044806, -1.04065094],
       [-0.73114895,  1.33504997],
       [ 1.07052184,  0.54314967],
       [ 1.54464573, -1.30461771],
       [ 0.69122273, -1.42193627],
       [-0.63632417, -1.06998058],
       [ 1.16534662,  0.51382002],
       [-0.25702506, -1.48059556],
       [-1.58457195,  0.51382002],
       [-1.01562328, -1.15796951],
       [-0.0673755 ,  0.01521613],
       [ 0.31192361,  0.04454577],
       [ 0.88087228, -1.39260663],
       [-1.01562328, -0.3660692 ],
       [-1.77422151,  0.16186433],
       [-1.77422151, -1.45126591],
       [ 0.69122273,  1.77499458],
       [-0.0673755 ,  0.2791829 ],
       [-1.58457195,  0.04454577],
       [-0.63632417,  1.39370925],
       [-0.25702506, -0.27808028],
       [-0.35184984,  1.30572033],
       [ 0.50157317,  1.21773141],
       [-0.63632417,  0.16186433],
       [-1.48974718, -0.45405812],
       [-1.01562328,  0.39650146],
       [ 0.78604751,  0.24985326],
       [ 1.92394485, -0.95266202],
       [ 0.78604751, -0.33673956],
       [ 0.21709883,  0.22052362],
       [-1.67939673, -0.63003597],
       [-0.25702506,  0.13253469],
       [-1.30009762, -1.27528807],
       [-0.25702506, -0.45405812],
       [ 0.12227406,  0.07387541],
       [-0.92079851,  0.4258311 ],
       [ 2.01876962,  0.36717182],
       [-1.86904629,  0.33784218],
       [ 2.01876962, -0.83534346],
       [ 2.1135944 ,  1.10041284],
       [ 0.78604751, -1.24595843],
       [ 0.40674839, -0.48338777],
       [ 0.02744928, -0.27808028],
       [ 1.44982095,  0.33784218],
       [-0.16220028, -0.60070633],
       [ 0.21709883, -0.27808028],
       [-0.44667461,  2.30292812],
       [ 0.12227406,  0.19119397],
       [ 0.21709883, -0.68869525],
       [ 0.97569706, -1.09931022],
       [-0.16220028,  0.13253469],
       [-0.0673755 ,  0.2791829 ],
       [ 0.40674839, -0.51271741],
       [-0.35184984, -1.33394735],
       [ 0.88087228, -0.80601381],
       [-0.92079851,  0.39650146],
       [-0.0673755 , -0.45405812],
       [-0.92079851, -0.45405812],
       [-1.77422151,  0.4258311 ],
       [-0.82597373, -1.24595843],
       [-0.92079851, -0.33673956],
       [ 0.97569706,  0.74845715],
       [-1.58457195, -0.07277279],
       [-1.01562328, -0.3660692 ],
       [ 0.02744928, -0.57137669],
       [-0.63632417, -0.3660692 ],
       [-1.11044806, -1.56858448],
       [ 1.92394485, -1.39260663],
       [-0.63632417, -1.62724376],
       [ 0.21709883, -0.39539884],
       [ 0.88087228,  2.15627991],
       [ 1.16534662, -1.0113213 ],
       [-0.16220028, -0.54204705],
       [ 1.63947051,  1.74566494],
       [ 1.07052184, -1.24595843],
       [ 0.02744928,  1.24706105],
       [-0.44667461, -0.30740992],
       [ 1.63947051, -0.92333238],
       [ 0.31192361,  0.48449038],
       [-1.01562328, -1.56858448],
       [ 1.54464573,  1.10041284],
       [-1.48974718,  0.30851254],
       [ 0.02744928, -0.16076172],
       [ 0.12227406, -0.83534346],
       [ 0.21709883,  1.0710832 ],
       [ 0.40674839, -0.19009136],
       [-0.44667461, -0.04344315],
       [ 1.07052184,  2.06829099],
       [-0.25702506, -0.16076172],
       [-0.73114895, -0.63003597],
       [ 1.16534662, -1.48059556],
       [-1.3949224 , -1.48059556],
       [ 1.82912007, -0.30740992],
       [ 1.82912007,  0.10320505],
       [ 0.40674839,  0.13253469],
       [ 1.2601714 , -1.39260663],
       [-0.44667461, -1.24595843],
       [-0.73114895,  1.89231315],
       [-0.25702506,  1.10041284],
       [ 0.02744928, -0.60070633],
       [ 0.21709883, -0.16076172],
       [-0.54149939,  1.89231315],
       [-0.92079851,  0.24985326],
       [-1.86904629,  0.45516074],
       [-1.30009762,  0.54314967],
       [ 0.21709883,  0.13253469],
       [ 1.35499618, -1.45126591],
       [-0.0673755 ,  0.66046823],
       [ 0.12227406,  1.8629835 ],
       [-1.67939673, -1.0113213 ],
       [ 0.21709883, -0.39539884],
       [-1.77422151, -1.33394735],
       [ 0.78604751,  0.51382002],
       [-0.16220028,  1.39370925],
       [-1.01562328,  0.54314967],
       [-1.20527284, -1.09931022],
       [ 1.35499618,  1.98030207],
       [ 0.78604751, -1.12863986],
       [ 0.78604751,  0.10320505],
       [-1.77422151, -1.30461771],
       [ 0.02744928,  1.21773141],
       [ 0.88087228, -0.63003597],
       [ 2.1135944 ,  0.36717182],
       [ 2.1135944 , -0.83534346],
       [ 0.97569706, -1.09931022],
       [ 0.12227406,  1.51102781],
       [-0.92079851,  0.48449038],
       [-1.20527284,  0.24985326],
       [ 0.40674839,  0.57247931],
       [ 0.12227406,  0.13253469],
       [ 0.21709883,  0.01521613],
       [ 2.01876962,  2.12695027],
       [-0.0673755 , -0.39539884],
       [-0.25702506,  0.77778679],
       [-1.3949224 , -0.219421  ],
       [ 1.07052184,  0.10320505],
       [ 0.31192361,  0.04454577],
       [ 0.12227406,  0.01521613],
       [ 0.97569706, -1.04065094],
       [-0.54149939,  1.45236853],
       [-1.11044806, -1.62724376],
       [ 1.2601714 ,  2.21493919],
       [-1.3949224 , -0.13143207],
       [-1.77422151, -1.5099252 ],
       [ 0.88087228, -1.18729915],
       [ 2.1135944 , -0.71802489],
       [ 0.59639795, -0.92333238],
       [-1.20527284, -1.42193627],
       [-0.44667461, -0.8646731 ],
       [-0.82597373, -0.27808028],
       [ 1.44982095,  2.12695027],
       [ 0.40674839,  0.98309428],
       [ 0.02744928, -0.45405812],
       [-1.11044806, -1.18729915],
       [-0.73114895,  0.54314967],
       [ 0.12227406,  1.04175356],
       [-0.54149939,  1.36437961],
       [ 0.12227406,  1.8629835 ],
       [ 0.21709883,  2.09762063],
       [ 1.44982095,  0.98309428],
       [-1.67939673,  0.10320505],
       [-0.25702506, -0.51271741],
       [ 0.12227406,  0.74845715],
       [ 0.88087228, -1.33394735],
       [-0.25702506, -0.30740992],
       [ 2.1135944 , -1.06998058],
       [ 0.40674839,  0.2791829 ],
       [-0.16220028,  1.59901674],
       [ 0.78604751, -0.8646731 ],
       [-0.92079851,  1.54035745],
       [ 0.12227406, -0.27808028],
       [-1.20527284,  0.48449038],
       [ 0.12227406, -0.83534346],
       [ 1.07052184, -1.0113213 ],
       [ 0.97569706,  1.77499458],
       [-1.3949224 , -0.65936561],
       [ 0.97569706, -1.21662879],
       [-1.30009762, -0.45405812],
       [ 0.31192361,  0.04454577],
       [-0.25702506, -0.60070633],
       [-0.73114895,  1.0710832 ],
       [ 1.54464573,  0.98309428],
       [-1.01562328,  0.57247931],
       [ 0.40674839,  0.07387541],
       [-0.92079851, -0.33673956],
       [ 1.16534662, -0.77668417],
       [-1.86904629, -0.54204705],
       [ 1.07052184, -1.24595843],
       [ 0.31192361,  0.24985326],
       [-0.73114895, -1.62724376],
       [-0.25702506, -1.33394735],
       [-0.25702506,  0.51382002],
       [ 0.97569706,  1.8629835 ],
       [-0.63632417, -0.13143207],
       [-0.44667461,  1.24706105],
       [ 0.31192361, -0.54204705],
       [ 1.82912007,  1.51102781],
       [ 1.07052184,  0.45516074],
       [ 2.01876962,  0.16186433],
       [-1.67939673,  0.33784218],
       [-0.16220028, -0.219421  ],
       [-0.63632417,  0.54314967],
       [ 1.35499618,  1.27639069],
       [ 1.07052184, -0.92333238],
       [ 1.82912007, -1.09931022],
       [-0.73114895,  0.48449038],
       [-1.30009762, -1.12863986],
       [ 0.78604751,  0.33784218],
       [-0.82597373,  0.36717182],
       [-0.73114895,  0.2791829 ],
       [-1.01562328,  1.95097243],
       [-0.0673755 ,  0.04454577],
       [ 1.35499618,  2.33225776],
       [-0.0673755 ,  0.13253469],
       [-0.0673755 ,  1.95097243],
       [-0.73114895,  0.24985326],
       [-1.11044806,  0.30851254],
       [ 0.31192361, -0.30740992],
       [ 0.97569706, -1.18729915],
       [ 1.35499618,  0.57247931],
       [-1.48974718, -1.53925484],
       [-0.92079851, -0.77668417],
       [-1.11044806,  0.04454577],
       [ 0.40674839, -0.48338777],
       [-1.86904629, -0.77668417],
       [ 0.40674839,  0.24985326],
       [-0.25702506,  0.19119397],
       [-0.54149939,  0.45516074],
       [-0.35184984, -0.80601381],
       [-0.25702506,  0.01521613],
       [-0.0673755 ,  0.19119397],
       [-0.25702506,  0.13253469],
       [ 0.31192361, -0.57137669],
       [ 0.78604751,  0.74845715],
       [ 0.97569706,  1.98030207],
       [-0.16220028, -0.30740992],
       [-1.01562328, -0.48338777],
       [-0.25702506, -0.3660692 ],
       [ 0.12227406, -0.33673956],
       [-0.25702506, -0.77668417],
       [-0.0673755 , -1.09931022],
       [-0.25702506,  0.04454577],
       [ 0.50157317,  1.7163353 ],
       [-0.35184984,  1.21773141],
       [ 0.78604751,  1.36437961],
       [ 0.97569706, -0.8646731 ],
       [-1.67939673, -1.39260663],
       [-0.82597373,  0.2791829 ],
       [-0.82597373,  2.27359848]])

In [69]:
xtest

array([[-0.82597373,  0.36717182],
       [-1.58457195, -1.59791412],
       [-0.0673755 , -0.51271741],
       [-0.82597373,  0.13253469],
       [ 1.54464573, -0.01411351],
       [ 0.88087228, -1.48059556],
       [-1.3949224 ,  0.33784218],
       [-0.92079851, -1.12863986],
       [ 0.21709883, -0.30740992],
       [-0.16220028,  1.62834638],
       [-1.30009762, -1.39260663],
       [-1.48974718, -1.27528807],
       [-0.54149939,  1.36437961],
       [ 0.69122273,  0.24985326],
       [-0.25702506, -0.33673956],
       [-0.44667461, -0.80601381],
       [-1.77422151, -0.01411351],
       [ 2.1135944 , -0.83534346],
       [ 1.44982095,  0.04454577],
       [-1.11044806, -0.80601381],
       [-0.0673755 ,  0.22052362],
       [ 0.69122273, -0.74735453],
       [-0.73114895, -0.24875064],
       [-0.16220028, -1.09931022],
       [-1.20527284,  0.2791829 ],
       [ 0.69122273, -1.12863986],
       [ 0.69122273, -1.42193627],
       [ 0.21709883, -0.39539884],
       [ 0.59639795,  2.00963171],
       [-0.54149939,  0.86577571],
       [-1.30009762, -0.45405812],
       [ 0.31192361, -0.54204705],
       [ 0.78604751, -1.39260663],
       [ 0.02744928, -0.33673956],
       [-0.54149939,  2.33225776],
       [-0.25702506,  0.60180895],
       [ 0.97569706,  0.10320505],
       [-0.25702506, -1.39260663],
       [-0.82597373, -0.80601381],
       [ 0.88087228,  1.0710832 ],
       [-0.25702506, -0.92333238],
       [ 0.40674839, -0.16076172],
       [-1.01562328,  0.51382002],
       [ 0.40674839,  0.2791829 ],
       [-1.86904629, -0.07277279],
       [ 0.88087228, -0.57137669],
       [-1.30009762,  0.39650146],
       [ 0.88087228, -1.06998058],
       [ 0.97569706,  1.42303889],
       [-1.11044806, -1.62724376],
       [-1.01562328,  0.74845715],
       [ 0.40674839,  2.30292812],
       [-0.35184984,  0.04454577],
       [ 0.12227406,  0.24985326],
       [-1.11044806,  1.39370925],
       [-1.48974718, -0.219421  ],
       [ 0.31192361, -1.18729915],
       [ 0.40674839,  1.10041284],
       [ 0.50157317,  1.83365386],
       [-0.63632417,  0.10320505],
       [-1.11044806,  0.39650146],
       [ 2.01876962,  1.74566494],
       [ 1.92394485,  0.71912751],
       [ 0.31192361,  0.01521613],
       [-1.20527284,  0.57247931],
       [-0.25702506,  2.24426884],
       [ 0.69122273, -1.30461771],
       [-0.16220028, -0.48338777],
       [-0.63632417, -0.07277279],
       [ 1.82912007, -1.30461771],
       [-0.0673755 , -0.24875064],
       [ 1.92394485,  0.89510536],
       [-0.44667461, -0.57137669],
       [-0.82597373, -0.80601381],
       [ 1.73429529,  1.83365386],
       [-0.25702506,  0.04454577],
       [ 2.1135944 ,  0.924435  ],
       [-1.30009762, -0.3660692 ],
       [ 1.63947051,  1.59901674],
       [-1.67939673,  0.33784218],
       [ 0.88087228, -0.68869525],
       [-0.16220028,  0.83644607],
       [-1.01562328, -0.39539884],
       [ 0.97569706,  0.57247931],
       [-0.92079851,  0.54314967],
       [ 0.40674839, -0.01411351],
       [ 0.97569706,  2.06829099],
       [ 0.31192361, -0.33673956],
       [ 1.73429529, -0.30740992],
       [-0.16220028,  2.15627991],
       [ 1.73429529,  0.98309428],
       [-1.30009762, -1.5099252 ],
       [ 2.01876962,  0.51382002],
       [ 1.2601714 ,  1.8629835 ],
       [-1.11044806,  0.2791829 ],
       [-0.35184984, -0.80601381],
       [-1.67939673,  0.45516074],
       [-0.54149939, -1.53925484],
       [ 0.31192361, -0.74735453],
       [ 0.02744928, -0.60070633],
       [ 0.02744928,  0.01521613],
       [-0.0673755 , -0.54204705],
       [-0.63632417, -1.53925484],
       [ 0.02744928,  0.2791829 ],
       [ 0.31192361,  0.04454577],
       [-0.44667461, -1.15796951],
       [-0.73114895, -1.56858448],
       [-0.25702506, -0.68869525],
       [-1.11044806,  0.45516074],
       [-0.0673755 ,  2.15627991],
       [ 0.02744928,  0.01521613],
       [-1.11044806, -1.59791412],
       [ 1.07052184,  0.51382002],
       [-0.25702506, -1.27528807],
       [ 1.35499618, -0.95266202],
       [-1.3949224 , -1.24595843],
       [-0.92079851, -0.98199166],
       [ 1.92394485, -0.68869525],
       [ 0.88087228, -0.60070633],
       [-1.11044806,  0.2791829 ],
       [ 0.02744928, -0.27808028],
       [ 0.78604751, -1.42193627],
       [-0.25702506, -0.39539884],
       [ 0.88087228,  1.24706105],
       [ 0.31192361, -0.219421  ],
       [-0.25702506, -0.60070633],
       [-0.25702506, -1.42193627],
       [ 1.44982095, -1.06998058],
       [-0.0673755 ,  0.10320505],
       [-0.82597373, -0.68869525],
       [-0.0673755 , -0.01411351],
       [-0.25702506,  0.07387541],
       [ 0.21709883, -0.33673956],
       [-0.25702506,  0.24985326]])

In [70]:
import numpy as npoandas
import pandas as pd

In [71]:
a=pd.read_csv("dataset/Social_Network_Ads.csv")

In [72]:
a

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

In [73]:
 x=a.iloc[:,2:4].values

In [74]:
x

array([[    19,  19000],
       [    35,  20000],
       [    26,  43000],
       [    27,  57000],
       [    19,  76000],
       [    27,  58000],
       [    27,  84000],
       [    32, 150000],
       [    25,  33000],
       [    35,  65000],
       [    26,  80000],
       [    26,  52000],
       [    20,  86000],
       [    32,  18000],
       [    18,  82000],
       [    29,  80000],
       [    47,  25000],
       [    45,  26000],
       [    46,  28000],
       [    48,  29000],
       [    45,  22000],
       [    47,  49000],
       [    48,  41000],
       [    45,  22000],
       [    46,  23000],
       [    47,  20000],
       [    49,  28000],
       [    47,  30000],
       [    29,  43000],
       [    31,  18000],
       [    31,  74000],
       [    27, 137000],
       [    21,  16000],
       [    28,  44000],
       [    27,  90000],
       [    35,  27000],
       [    33,  28000],
       [    30,  49000],
       [    26,  72000],
       [    27,  31000],
       [    27,  17000],
       [    33,  51000],
       [    35, 108000],
       [    30,  15000],
       [    28,  84000],
       [    23,  20000],
       [    25,  79000],
       [    27,  54000],
       [    30, 135000],
       [    31,  89000],
       [    24,  32000],
       [    18,  44000],
       [    29,  83000],
       [    35,  23000],
       [    27,  58000],
       [    24,  55000],
       [    23,  48000],
       [    28,  79000],
       [    22,  18000],
       [    32, 117000],
       [    27,  20000],
       [    25,  87000],
       [    23,  66000],
       [    32, 120000],
       [    59,  83000],
       [    24,  58000],
       [    24,  19000],
       [    23,  82000],
       [    22,  63000],
       [    31,  68000],
       [    25,  80000],
       [    24,  27000],
       [    20,  23000],
       [    33, 113000],
       [    32,  18000],
       [    34, 112000],
       [    18,  52000],
       [    22,  27000],
       [    28,  87000],
       [    26,  17000],
       [    30,  80000],
       [    39,  42000],
       [    20,  49000],
       [    35,  88000],
       [    30,  62000],
       [    31, 118000],
       [    24,  55000],
       [    28,  85000],
       [    26,  81000],
       [    35,  50000],
       [    22,  81000],
       [    30, 116000],
       [    26,  15000],
       [    29,  28000],
       [    29,  83000],
       [    35,  44000],
       [    35,  25000],
       [    28, 123000],
       [    35,  73000],
       [    28,  37000],
       [    27,  88000],
       [    28,  59000],
       [    32,  86000],
       [    33, 149000],
       [    19,  21000],
       [    21,  72000],
       [    26,  35000],
       [    27,  89000],
       [    26,  86000],
       [    38,  80000],
       [    39,  71000],
       [    37,  71000],
       [    38,  61000],
       [    37,  55000],
       [    42,  80000],
       [    40,  57000],
       [    35,  75000],
       [    36,  52000],
       [    40,  59000],
       [    41,  59000],
       [    36,  75000],
       [    37,  72000],
       [    40,  75000],
       [    35,  53000],
       [    41,  51000],
       [    39,  61000],
       [    42,  65000],
       [    26,  32000],
       [    30,  17000],
       [    26,  84000],
       [    31,  58000],
       [    33,  31000],
       [    30,  87000],
       [    21,  68000],
       [    28,  55000],
       [    23,  63000],
       [    20,  82000],
       [    30, 107000],
       [    28,  59000],
       [    19,  25000],
       [    19,  85000],
       [    18,  68000],
       [    35,  59000],
       [    30,  89000],
       [    34,  25000],
       [    24,  89000],
       [    27,  96000],
       [    41,  30000],
       [    29,  61000],
       [    20,  74000],
       [    26,  15000],
       [    41,  45000],
       [    31,  76000],
       [    36,  50000],
       [    40,  47000],
       [    31,  15000],
       [    46,  59000],
       [    29,  75000],
       [    26,  30000],
       [    32, 135000],
       [    32, 100000],
       [    25,  90000],
       [    37,  33000],
       [    35,  38000],
       [    33,  69000],
       [    18,  86000],
       [    22,  55000],
       [    35,  71000],
       [    29, 148000],
       [    29,  47000],
       [    21,  88000],
       [    34, 115000],
       [    26, 118000],
       [    34,  43000],
       [    34,  72000],
       [    23,  28000],
       [    35,  47000],
       [    25,  22000],
       [    24,  23000],
       [    31,  34000],
       [    26,  16000],
       [    31,  71000],
       [    32, 117000],
       [    33,  43000],
       [    33,  60000],
       [    31,  66000],
       [    20,  82000],
       [    33,  41000],
       [    35,  72000],
       [    28,  32000],
       [    24,  84000],
       [    19,  26000],
       [    29,  43000],
       [    19,  70000],
       [    28,  89000],
       [    34,  43000],
       [    30,  79000],
       [    20,  36000],
       [    26,  80000],
       [    35,  22000],
       [    35,  39000],
       [    49,  74000],
       [    39, 134000],
       [    41,  71000],
       [    58, 101000],
       [    47,  47000],
       [    55, 130000],
       [    52, 114000],
       [    40, 142000],
       [    46,  22000],
       [    48,  96000],
       [    52, 150000],
       [    59,  42000],
       [    35,  58000],
       [    47,  43000],
       [    60, 108000],
       [    49,  65000],
       [    40,  78000],
       [    46,  96000],
       [    59, 143000],
       [    41,  80000],
       [    35,  91000],
       [    37, 144000],
       [    60, 102000],
       [    35,  60000],
       [    37,  53000],
       [    36, 126000],
       [    56, 133000],
       [    40,  72000],
       [    42,  80000],
       [    35, 147000],
       [    39,  42000],
       [    40, 107000],
       [    49,  86000],
       [    38, 112000],
       [    46,  79000],
       [    40,  57000],
       [    37,  80000],
       [    46,  82000],
       [    53, 143000],
       [    42, 149000],
       [    38,  59000],
       [    50,  88000],
       [    56, 104000],
       [    41,  72000],
       [    51, 146000],
       [    35,  50000],
       [    57, 122000],
       [    41,  52000],
       [    35,  97000],
       [    44,  39000],
       [    37,  52000],
       [    48, 134000],
       [    37, 146000],
       [    50,  44000],
       [    52,  90000],
       [    41,  72000],
       [    40,  57000],
       [    58,  95000],
       [    45, 131000],
       [    35,  77000],
       [    36, 144000],
       [    55, 125000],
       [    35,  72000],
       [    48,  90000],
       [    42, 108000],
       [    40,  75000],
       [    37,  74000],
       [    47, 144000],
       [    40,  61000],
       [    43, 133000],
       [    59,  76000],
       [    60,  42000],
       [    39, 106000],
       [    57,  26000],
       [    57,  74000],
       [    38,  71000],
       [    49,  88000],
       [    52,  38000],
       [    50,  36000],
       [    59,  88000],
       [    35,  61000],
       [    37,  70000],
       [    52,  21000],
       [    48, 141000],
       [    37,  93000],
       [    37,  62000],
       [    48, 138000],
       [    41,  79000],
       [    37,  78000],
       [    39, 134000],
       [    49,  89000],
       [    55,  39000],
       [    37,  77000],
       [    35,  57000],
       [    36,  63000],
       [    42,  73000],
       [    43, 112000],
       [    45,  79000],
       [    46, 117000],
       [    58,  38000],
       [    48,  74000],
       [    37, 137000],
       [    37,  79000],
       [    40,  60000],
       [    42,  54000],
       [    51, 134000],
       [    47, 113000],
       [    36, 125000],
       [    38,  50000],
       [    42,  70000],
       [    39,  96000],
       [    38,  50000],
       [    49, 141000],
       [    39,  79000],
       [    39,  75000],
       [    54, 104000],
       [    35,  55000],
       [    45,  32000],
       [    36,  60000],
       [    52, 138000],
       [    53,  82000],
       [    41,  52000],
       [    48,  30000],
       [    48, 131000],
       [    41,  60000],
       [    41,  72000],
       [    42,  75000],
       [    36, 118000],
       [    47, 107000],
       [    38,  51000],
       [    48, 119000],
       [    42,  65000],
       [    40,  65000],
       [    57,  60000],
       [    36,  54000],
       [    58, 144000],
       [    35,  79000],
       [    38,  55000],
       [    39, 122000],
       [    53, 104000],
       [    35,  75000],
       [    38,  65000],
       [    47,  51000],
       [    47, 105000],
       [    41,  63000],
       [    53,  72000],
       [    54, 108000],
       [    39,  77000],
       [    38,  61000],
       [    38, 113000],
       [    37,  75000],
       [    42,  90000],
       [    37,  57000],
       [    36,  99000],
       [    60,  34000],
       [    54,  70000],
       [    41,  72000],
       [    40,  71000],
       [    42,  54000],
       [    43, 129000],
       [    53,  34000],
       [    47,  50000],
       [    42,  79000],
       [    42, 104000],
       [    59,  29000],
       [    58,  47000],
       [    46,  88000],
       [    38,  71000],
       [    54,  26000],
       [    60,  46000],
       [    60,  83000],
       [    39,  73000],
       [    59, 130000],
       [    37,  80000],
       [    46,  32000],
       [    46,  74000],
       [    42,  53000],
       [    41,  87000],
       [    58,  23000],
       [    42,  64000],
       [    48,  33000],
       [    44, 139000],
       [    49,  28000],
       [    57,  33000],
       [    56,  60000],
       [    49,  39000],
       [    39,  71000],
       [    47,  34000],
       [    48,  35000],
       [    48,  33000],
       [    47,  23000],
       [    45,  45000],
       [    60,  42000],
       [    39,  59000],
       [    46,  41000],
       [    51,  23000],
       [    50,  20000],
       [    36,  33000],
       [    49,  36000]], dtype=int64)

In [75]:
y=a.iloc[:,3:4]

In [76]:
y

     EstimatedSalary
0              19000
1              20000
2              43000
3              57000
4              76000
..               ...
395            41000
396            23000
397            20000
398            33000
399            36000

[400 rows x 1 columns]

In [77]:
from sklearn.model_selection import train_test_split

In [90]:
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=0.25,random_state=0)

In [91]:
from sklearn.preprocessing import StandardScaler

In [92]:
new=StandardScaler()

In [93]:
xtrain=new.fit_transform(xtrain)

In [94]:
xtest=new.transform(xtest)

In [95]:
xtest

array([[-0.80480212,  0.50496393],
       [-0.01254409, -0.5677824 ],
       [-0.30964085,  0.1570462 ],
       [-0.80480212,  0.27301877],
       [-0.30964085, -0.5677824 ],
       [-1.10189888, -1.43757673],
       [-0.70576986, -1.58254245],
       [-0.21060859,  2.15757314],
       [-1.99318916, -0.04590581],
       [ 0.8787462 , -0.77073441],
       [-0.80480212, -0.59677555],
       [-1.00286662, -0.42281668],
       [-0.11157634, -0.42281668],
       [ 0.08648817,  0.21503249],
       [-1.79512465,  0.47597078],
       [-0.60673761,  1.37475825],
       [-0.11157634,  0.21503249],
       [-1.89415691,  0.44697764],
       [ 1.67100423,  1.75166912],
       [-0.30964085, -1.37959044],
       [-0.30964085, -0.65476184],
       [ 0.8787462 ,  2.15757314],
       [ 0.28455268, -0.53878926],
       [ 0.8787462 ,  1.02684052],
       [-1.49802789, -1.20563157],
       [ 1.07681071,  2.07059371],
       [-1.00286662,  0.50496393],
       [-0.90383437,  0.30201192],
       [-0.11157634, -0.21986468],
       [-0.60673761,  0.47597078],
       [-1.6960924 ,  0.53395707],
       [-0.11157634,  0.27301877],
       [ 1.86906873, -0.27785096],
       [-0.11157634, -0.48080297],
       [-1.39899564, -0.33583725],
       [-1.99318916, -0.50979612],
       [-1.59706014,  0.33100506],
       [-0.4086731 , -0.77073441],
       [-0.70576986, -1.03167271],
       [ 1.07681071, -0.97368642],
       [-1.10189888,  0.53395707],
       [ 0.28455268, -0.50979612],
       [-1.10189888,  0.41798449],
       [-0.30964085, -1.43757673],
       [ 0.48261718,  1.22979253],
       [-1.10189888, -0.33583725],
       [-0.11157634,  0.30201192],
       [ 1.37390747,  0.59194336],
       [-1.20093113, -1.14764529],
       [ 1.07681071,  0.47597078],
       [ 1.86906873,  1.51972397],
       [-0.4086731 , -1.29261101],
       [-0.30964085, -0.3648304 ],
       [-0.4086731 ,  1.31677196],
       [ 2.06713324,  0.53395707],
       [ 0.68068169, -1.089659  ],
       [-0.90383437,  0.38899135],
       [-1.20093113,  0.30201192],
       [ 1.07681071, -1.20563157],
       [-1.49802789, -1.43757673],
       [-0.60673761, -1.49556302],
       [ 2.1661655 , -0.79972756],
       [-1.89415691,  0.18603934],
       [-0.21060859,  0.85288166],
       [-1.89415691, -1.26361786],
       [ 2.1661655 ,  0.38899135],
       [-1.39899564,  0.56295021],
       [-1.10189888, -0.33583725],
       [ 0.18552042, -0.65476184],
       [ 0.38358493,  0.01208048],
       [-0.60673761,  2.331532  ],
       [-0.30964085,  0.21503249],
       [-1.59706014, -0.19087153],
       [ 0.68068169, -1.37959044],
       [-1.10189888,  0.56295021],
       [-1.99318916,  0.35999821],
       [ 0.38358493,  0.27301877],
       [ 0.18552042, -0.27785096],
       [ 1.47293972, -1.03167271],
       [ 0.8787462 ,  1.08482681],
       [ 1.96810099,  2.15757314],
       [ 2.06713324,  0.38899135],
       [-1.39899564, -0.42281668],
       [-1.20093113, -1.00267957],
       [ 1.96810099, -0.91570013],
       [ 0.38358493,  0.30201192],
       [ 0.18552042,  0.1570462 ],
       [ 2.06713324,  1.75166912],
       [ 0.77971394, -0.8287207 ],
       [ 0.28455268, -0.27785096],
       [ 0.38358493, -0.16187839],
       [-0.11157634,  2.21555943],
       [-1.49802789, -0.62576869],
       [-1.29996338, -1.06066585],
       [-1.39899564,  0.41798449],
       [-1.10189888,  0.76590222],
       [-1.49802789, -0.19087153],
       [ 0.97777845, -1.06066585],
       [ 0.97777845,  0.59194336],
       [ 0.38358493,  0.99784738]])

In [111]:
from sklearn.tree import DecisionTreeClassifier

In [114]:
classifier= DecisionTreeClassifier(criterion='gini', random_state=0)

In [115]:
new.fit(xtrain,ytrain)

KeyError: 'entropy'