In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
a=pd.read_csv("dataset/place.csv")

In [4]:
a

     cgpa  package
0    6.89     3.26
1    5.12     1.98
2    7.82     3.25
3    7.42     3.67
4    6.94     3.57
..    ...      ...
195  6.93     2.46
196  5.89     2.57
197  7.21     3.24
198  7.63     3.96
199  6.22     2.33

[200 rows x 2 columns]

In [5]:
x=a.iloc[:,0:1]
x

     cgpa
0    6.89
1    5.12
2    7.82
3    7.42
4    6.94
..    ...
195  6.93
196  5.89
197  7.21
198  7.63
199  6.22

[200 rows x 1 columns]

In [6]:
y=a.iloc[:,1:2]

In [7]:
y

     package
0       3.26
1       1.98
2       3.25
3       3.67
4       3.57
..       ...
195     2.46
196     2.57
197     3.24
198     3.96
199     2.33

[200 rows x 1 columns]

In [8]:
from sklearn.model_selection import train_test_split

In [9]:
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=1/3,random_state=2)

In [10]:
xtrain

     cgpa
106  6.13
108  7.76
143  4.85
180  6.19
166  8.60
..    ...
43   7.66
22   6.14
72   7.78
15   7.25
168  8.65

[133 rows x 1 columns]

In [11]:
ytrain

     package
106     2.19
108     3.54
143     1.54
180     2.72
166     3.98
..       ...
43      2.76
22      2.30
72      3.62
15      3.23
168     3.52

[133 rows x 1 columns]

In [12]:
xtest

     cgpa
112  8.58
29   7.15
182  5.88
199  6.22
193  4.57
..    ...
94   5.83
42   5.95
169  9.31
82   5.58
184  7.88

[67 rows x 1 columns]

In [13]:
ytest

     package
112     4.10
29      3.49
182     2.08
199     2.33
193     1.94
..       ...
94      2.42
42      2.54
169     4.37
82      2.17
184     3.14

[67 rows x 1 columns]

In [14]:
from sklearn.linear_model import LinearRegression

In [15]:
new=LinearRegression()

In [16]:
new.fit(xtrain,ytrain)

LinearRegression()

In [17]:
pred=new.predict(xtest)

In [18]:
pred

array([[3.89366057],
       [3.09750667],
       [2.39043292],
       [2.57972826],
       [1.66108914],
       [1.78357435],
       [2.07865237],
       [2.93604888],
       [3.76560785],
       [2.94161639],
       [4.09409093],
       [3.5150699 ],
       [2.97502145],
       [2.40713545],
       [3.19215434],
       [3.47052983],
       [1.95059965],
       [3.24782943],
       [2.98058896],
       [3.42042224],
       [2.56302573],
       [3.1698843 ],
       [2.86367126],
       [3.12534422],
       [3.68766271],
       [2.87480628],
       [3.49836738],
       [3.34804461],
       [3.92149812],
       [1.96730218],
       [3.65425765],
       [3.21442437],
       [3.74333781],
       [2.79129363],
       [2.78572612],
       [3.27566698],
       [3.53177243],
       [2.61870082],
       [2.6632409 ],
       [2.718916  ],
       [3.09193916],
       [4.08852342],
       [2.13432747],
       [1.95616716],
       [3.44269228],
       [2.88037379],
       [2.95275141],
       [2.83583371],
       [3.52063741],
       [3.5095024 ],
       [3.9660382 ],
       [3.54290745],
       [2.79686114],
       [2.60199829],
       [2.75232106],
       [2.69107845],
       [1.96173467],
       [2.50735063],
       [2.97502145],
       [3.03626406],
       [2.42383798],
       [2.48508059],
       [2.36259537],
       [2.42940549],
       [4.30008879],
       [2.22340763],
       [3.50393489]])

In [19]:
ytest

     package
112     4.10
29      3.49
182     2.08
199     2.33
193     1.94
..       ...
94      2.42
42      2.54
169     4.37
82      2.17
184     3.14

[67 rows x 1 columns]

In [20]:
from sklearn.metrics import r2_score 
r2_score(xtest,pred)

-12.261764117427948

In [21]:
from sklearn.metrics import mean_squared_error
mean_squared_error(xtest,pred)

15.881319703104218

In [22]:
from sklearn.metrics import mean_absolute_error
mean_absolute_error(xtest,pred)

3.955507799938915

In [23]:
new.score(xtrain,ytrain)

0.7635016858490804

# Multiple linear Regression

In [24]:
ab=pd.read_csv("dataset/cgpa_marks_package.csv")
ab

     cgpa  Interview_marks  package
0    6.89               26     3.26
1    5.12               38     1.98
2    7.82               40     3.25
3    7.42                8     3.67
4    6.94               17     3.57
..    ...              ...      ...
195  6.93               44     2.46
196  5.89               34     2.57
197  7.21               27     3.24
198  7.63               44     3.96
199  6.22               25     2.33

[200 rows x 3 columns]

In [28]:
a=pd.read_csv("dataset/place.csv")

In [29]:
a

     cgpa  package
0    6.89     3.26
1    5.12     1.98
2    7.82     3.25
3    7.42     3.67
4    6.94     3.57
..    ...      ...
195  6.93     2.46
196  5.89     2.57
197  7.21     3.24
198  7.63     3.96
199  6.22     2.33

[200 rows x 2 columns]

In [33]:
x=a.iloc[:,0].values

In [34]:
x

array([6.89, 5.12, 7.82, 7.42, 6.94, 7.89, 6.73, 6.75, 6.09, 8.31, 5.32,
       6.61, 8.94, 6.93, 7.73, 7.25, 6.84, 5.38, 6.94, 7.48, 7.28, 6.85,
       6.14, 6.19, 6.53, 7.28, 8.31, 5.42, 5.94, 7.15, 7.36, 8.1 , 6.96,
       6.35, 7.34, 6.87, 5.99, 5.9 , 8.62, 7.43, 9.38, 6.89, 5.95, 7.66,
       5.09, 7.87, 6.07, 5.84, 8.63, 8.87, 9.58, 9.26, 8.37, 6.47, 6.86,
       8.2 , 5.84, 6.6 , 6.92, 7.56, 5.61, 5.48, 6.34, 9.16, 7.36, 7.6 ,
       5.11, 6.51, 7.56, 7.3 , 5.79, 7.47, 7.78, 8.44, 6.85, 6.97, 6.94,
       8.99, 6.59, 7.18, 7.63, 6.1 , 5.58, 8.44, 4.26, 4.79, 7.61, 8.09,
       4.73, 6.42, 7.11, 6.22, 7.9 , 6.79, 5.83, 6.63, 7.11, 5.98, 7.69,
       6.61, 7.95, 6.71, 5.13, 7.05, 7.62, 6.66, 6.13, 6.33, 7.76, 7.77,
       8.18, 5.42, 8.58, 6.94, 5.84, 8.35, 9.04, 7.12, 7.4 , 7.39, 5.23,
       6.5 , 5.12, 5.1 , 6.06, 7.33, 5.91, 6.78, 7.93, 7.29, 6.68, 6.37,
       5.84, 6.05, 7.2 , 6.1 , 5.64, 7.14, 7.91, 7.19, 7.91, 6.76, 6.93,
       4.85, 6.17, 5.84, 6.07, 5.66, 7.57, 8.28, 6.3 , 6.12, 7.37, 7.94,
       7.08, 6.98, 7.38, 6.47, 5.95, 8.71, 7.13, 7.3 , 5.53, 8.93, 9.06,
       8.21, 8.6 , 8.13, 8.65, 9.31, 6.22, 8.01, 6.93, 6.75, 7.32, 7.04,
       6.29, 7.09, 8.15, 7.14, 6.19, 8.22, 5.88, 7.28, 7.88, 6.31, 7.84,
       6.26, 7.35, 8.11, 6.19, 7.28, 8.25, 4.57, 7.89, 6.93, 5.89, 7.21,
       7.63, 6.22])

In [39]:
y=a.iloc[:,1].values

In [40]:
y

array([3.26, 1.98, 3.25, 3.67, 3.57, 2.99, 2.6 , 2.48, 2.31, 3.51, 1.86,
       2.6 , 3.65, 2.89, 3.42, 3.23, 2.35, 2.09, 2.98, 2.83, 3.16, 2.93,
       2.3 , 2.48, 2.71, 3.65, 3.42, 2.16, 2.24, 3.49, 3.26, 3.89, 3.08,
       2.73, 3.42, 2.87, 2.84, 2.43, 4.36, 3.33, 4.02, 2.7 , 2.54, 2.76,
       1.86, 3.58, 2.26, 3.26, 4.09, 4.62, 4.43, 3.79, 4.11, 2.61, 3.09,
       3.39, 2.74, 1.94, 3.09, 3.31, 2.19, 1.61, 2.09, 4.25, 2.92, 3.81,
       1.63, 2.89, 2.99, 2.94, 2.35, 3.34, 3.62, 4.03, 3.44, 3.28, 3.15,
       4.6 , 2.21, 3.  , 3.44, 2.2 , 2.17, 3.49, 1.53, 1.48, 2.77, 3.55,
       1.48, 2.72, 2.66, 2.14, 4.  , 3.08, 2.42, 2.79, 2.61, 2.84, 3.83,
       3.24, 4.14, 3.52, 1.37, 3.  , 3.74, 2.82, 2.19, 2.59, 3.54, 4.06,
       3.76, 2.25, 4.1 , 2.37, 1.87, 4.21, 3.33, 2.99, 2.88, 2.65, 1.73,
       3.02, 2.01, 2.3 , 2.31, 3.16, 2.6 , 3.11, 3.34, 3.12, 2.49, 2.01,
       2.48, 2.58, 2.83, 2.6 , 2.1 , 3.13, 3.89, 2.4 , 3.15, 3.18, 3.04,
       1.54, 2.42, 2.18, 2.46, 2.21, 3.4 , 3.67, 2.73, 2.76, 3.08, 3.99,
       2.85, 3.09, 3.13, 2.7 , 3.04, 4.08, 2.93, 3.33, 2.55, 3.91, 3.82,
       4.08, 3.98, 3.6 , 3.52, 4.37, 2.87, 3.76, 2.51, 2.56, 2.99, 3.5 ,
       3.23, 3.64, 3.63, 3.03, 2.72, 3.89, 2.08, 2.72, 3.14, 3.18, 3.47,
       2.44, 3.08, 4.06, 2.69, 3.48, 3.75, 1.94, 3.67, 2.46, 2.57, 3.24,
       3.96, 2.33])

In [43]:
from sklearn.model_selection import train_test_split

In [48]:
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=1/3,random_state=1)

In [53]:
a=pd.read_csv("dataset/Social_Network_Ads.csv")

In [54]:
a

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

In [55]:
a.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [56]:
a.describe()

            User ID         Age  EstimatedSalary   Purchased
count  4.000000e+02  400.000000       400.000000  400.000000
mean   1.569154e+07   37.655000     69742.500000    0.357500
std    7.165832e+04   10.482877     34096.960282    0.479864
min    1.556669e+07   18.000000     15000.000000    0.000000
25%    1.562676e+07   29.750000     43000.000000    0.000000
50%    1.569434e+07   37.000000     70000.000000    0.000000
75%    1.575036e+07   46.000000     88000.000000    1.000000
max    1.581524e+07   60.000000    150000.000000    1.000000

In [84]:
x=a.iloc[:,2:4]

In [85]:
x

     Age  EstimatedSalary
0     19            19000
1     35            20000
2     26            43000
3     27            57000
4     19            76000
..   ...              ...
395   46            41000
396   51            23000
397   50            20000
398   36            33000
399   49            36000

[400 rows x 2 columns]

In [86]:
y=a.iloc[:,4]
y

0      0
1      0
2      0
3      0
4      0
      ..
395    1
396    1
397    1
398    0
399    1
Name: Purchased, Length: 400, dtype: int64

In [98]:
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=0.25,random_state=0)

In [99]:
from sklearn.preprocessing import StandardScaler

In [100]:
new=StandardScaler()

In [101]:
xtrain=new.fit_transform(xtrain)

In [102]:
xtest= new.transform(xtest)

In [103]:
xtrain

array([[ 0.58164944, -0.88670699],
       [-0.60673761,  1.46173768],
       [-0.01254409, -0.5677824 ],
       [-0.60673761,  1.89663484],
       [ 1.37390747, -1.40858358],
       [ 1.47293972,  0.99784738],
       [ 0.08648817, -0.79972756],
       [-0.01254409, -0.24885782],
       [-0.21060859, -0.5677824 ],
       [-0.21060859, -0.19087153],
       [-0.30964085, -1.29261101],
       [-0.30964085, -0.5677824 ],
       [ 0.38358493,  0.09905991],
       [ 0.8787462 , -0.59677555],
       [ 2.06713324, -1.17663843],
       [ 1.07681071, -0.13288524],
       [ 0.68068169,  1.78066227],
       [-0.70576986,  0.56295021],
       [ 0.77971394,  0.35999821],
       [ 0.8787462 , -0.53878926],
       [-1.20093113, -1.58254245],
       [ 2.1661655 ,  0.93986109],
       [-0.01254409,  1.22979253],
       [ 0.18552042,  1.08482681],
       [ 0.38358493, -0.48080297],
       [-0.30964085, -0.30684411],
       [ 0.97777845, -0.8287207 ],
       [ 0.97777845,  1.8676417 ],
       [-0.01254409,  1.25878567],
       [-0.90383437,  2.27354572],
       [-1.20093113, -1.58254245],
       [ 2.1661655 , -0.79972756],
       [-1.39899564, -1.46656987],
       [ 0.38358493,  2.30253886],
       [ 0.77971394,  0.76590222],
       [-1.00286662, -0.30684411],
       [ 0.08648817,  0.76590222],
       [-1.00286662,  0.56295021],
       [ 0.28455268,  0.07006676],
       [ 0.68068169, -1.26361786],
       [-0.50770535, -0.01691267],
       [-1.79512465,  0.35999821],
       [-0.70576986,  0.12805305],
       [ 0.38358493,  0.30201192],
       [-0.30964085,  0.07006676],
       [-0.50770535,  2.30253886],
       [ 0.18552042,  0.04107362],
       [ 1.27487521,  2.21555943],
       [ 0.77971394,  0.27301877],
       [-0.30964085,  0.1570462 ],
       [-0.01254409, -0.53878926],
       [-0.21060859,  0.1570462 ],
       [-0.11157634,  0.24402563],
       [-0.01254409, -0.24885782],
       [ 2.1661655 ,  1.11381995],
       [-1.79512465,  0.35999821],
       [ 1.86906873,  0.12805305],
       [ 0.38358493, -0.13288524],
       [-1.20093113,  0.30201192],
       [ 0.77971394,  1.37475825],
       [-0.30964085, -0.24885782],
       [-1.6960924 , -0.04590581],
       [-1.00286662, -0.74174127],
       [ 0.28455268,  0.50496393],
       [-0.11157634, -1.06066585],
       [-1.10189888,  0.59194336],
       [ 0.08648817, -0.79972756],
       [-1.00286662,  1.54871711],
       [-0.70576986,  1.40375139],
       [-1.29996338,  0.50496393],
       [-0.30964085,  0.04107362],
       [-0.11157634,  0.01208048],
       [-0.30964085, -0.88670699],
       [ 0.8787462 , -1.3505973 ],
       [-0.30964085,  2.24455257],
       [ 0.97777845,  1.98361427],
       [-1.20093113,  0.47597078],
       [-1.29996338,  0.27301877],
       [ 1.37390747,  1.98361427],
       [ 1.27487521, -1.3505973 ],
       [-0.30964085, -0.27785096],
       [-0.50770535,  1.25878567],
       [-0.80480212,  1.08482681],
       [ 0.97777845, -1.06066585],
       [ 0.28455268,  0.30201192],
       [ 0.97777845,  0.76590222],
       [-0.70576986, -1.49556302],
       [-0.70576986,  0.04107362],
       [ 0.48261718,  1.72267598],
       [ 2.06713324,  0.18603934],
       [-1.99318916, -0.74174127],
       [-0.21060859,  1.40375139],
       [ 0.38358493,  0.59194336],
       [ 0.8787462 , -1.14764529],
       [-1.20093113, -0.77073441],
       [ 0.18552042,  0.24402563],
       [ 0.77971394, -0.30684411],
       [ 2.06713324, -0.79972756],
       [ 0.77971394,  0.12805305],
       [-0.30964085,  0.6209365 ],
       [-1.00286662, -0.30684411],
       [ 0.18552042, -0.3648304 ],
       [ 2.06713324,  2.12857999],
       [ 1.86906873, -1.26361786],
       [ 1.37390747, -0.91570013],
       [ 0.8787462 ,  1.25878567],
       [ 1.47293972,  2.12857999],
       [-0.30964085, -1.23462472],
       [ 1.96810099,  0.91086794],
       [ 0.68068169, -0.71274813],
       [-1.49802789,  0.35999821],
       [ 0.77971394, -1.3505973 ],
       [ 0.38358493, -0.13288524],
       [-1.00286662,  0.41798449],
       [-0.01254409, -0.30684411],
       [-1.20093113,  0.41798449],
       [-0.90383437, -1.20563157],
       [-0.11157634,  0.04107362],
       [-1.59706014, -0.42281668],
       [ 0.97777845, -1.00267957],
       [ 1.07681071, -1.20563157],
       [-0.01254409, -0.13288524],
       [-1.10189888, -1.52455616],
       [ 0.77971394, -1.20563157],
       [ 0.97777845,  2.07059371],
       [-1.20093113, -1.52455616],
       [-0.30964085,  0.79489537],
       [ 0.08648817, -0.30684411],
       [-1.39899564, -1.23462472],
       [-0.60673761, -1.49556302],
       [ 0.77971394,  0.53395707],
       [-0.30964085, -0.33583725],
       [ 1.77003648, -0.27785096],
       [ 0.8787462 , -1.03167271],
       [ 0.18552042,  0.07006676],
       [-0.60673761,  0.8818748 ],
       [-1.89415691, -1.40858358],
       [-1.29996338,  0.59194336],
       [-0.30964085,  0.53395707],
       [-1.00286662, -1.089659  ],
       [ 1.17584296, -1.43757673],
       [ 0.18552042, -0.30684411],
       [ 1.17584296, -0.74174127],
       [-0.30964085,  0.07006676],
       [ 0.18552042,  2.09958685],
       [ 0.77971394, -1.089659  ],
       [ 0.08648817,  0.04107362],
       [-1.79512465,  0.12805305],
       [-0.90383437,  0.1570462 ],
       [-0.70576986,  0.18603934],
       [ 0.8787462 , -1.29261101],
       [ 0.18552042, -0.24885782],
       [-0.4086731 ,  1.22979253],
       [-0.01254409,  0.30201192],
       [ 0.38358493,  0.1570462 ],
       [ 0.8787462 , -0.65476184],
       [ 0.08648817,  0.1570462 ],
       [-1.89415691, -1.29261101],
       [-0.11157634,  0.30201192],
       [-0.21060859, -0.27785096],
       [ 0.28455268, -0.50979612],
       [-0.21060859,  1.6067034 ],
       [ 0.97777845, -1.17663843],
       [-0.21060859,  1.63569655],
       [ 1.27487521,  1.8676417 ],
       [-1.10189888, -0.3648304 ],
       [-0.01254409,  0.04107362],
       [ 0.08648817, -0.24885782],
       [-1.59706014, -1.23462472],
       [-0.50770535, -0.27785096],
       [ 0.97777845,  0.12805305],
       [ 1.96810099, -1.3505973 ],
       [ 1.47293972,  0.07006676],
       [-0.60673761,  1.37475825],
       [ 1.57197197,  0.01208048],
       [-0.80480212,  0.30201192],
       [ 1.96810099,  0.73690908],
       [-1.20093113, -0.50979612],
       [ 0.68068169,  0.27301877],
       [-1.39899564, -0.42281668],
       [ 0.18552042,  0.1570462 ],
       [-0.50770535, -1.20563157],
       [ 0.58164944,  2.01260742],
       [-1.59706014, -1.49556302],
       [-0.50770535, -0.53878926],
       [ 0.48261718,  1.83864855],
       [-1.39899564, -1.089659  ],
       [ 0.77971394, -1.37959044],
       [-0.30964085, -0.42281668],
       [ 1.57197197,  0.99784738],
       [ 0.97777845,  1.43274454],
       [-0.30964085, -0.48080297],
       [-0.11157634,  2.15757314],
       [-1.49802789, -0.1038921 ],
       [-0.11157634,  1.95462113],
       [-0.70576986, -0.33583725],
       [-0.50770535, -0.8287207 ],
       [ 0.68068169, -1.37959044],
       [-0.80480212, -1.58254245],
       [-1.89415691, -1.46656987],
       [ 1.07681071,  0.12805305],
       [ 0.08648817,  1.51972397],
       [-0.30964085,  0.09905991],
       [ 0.08648817,  0.04107362],
       [-1.39899564, -1.3505973 ],
       [ 0.28455268,  0.07006676],
       [-0.90383437,  0.38899135],
       [ 1.57197197, -1.26361786],
       [-0.30964085, -0.74174127],
       [-0.11157634,  0.1570462 ],
       [-0.90383437, -0.65476184],
       [-0.70576986, -0.04590581],
       [ 0.38358493, -0.45180983],
       [-0.80480212,  1.89663484],
       [ 1.37390747,  1.28777882],
       [ 1.17584296, -0.97368642],
       [ 1.77003648,  1.83864855],
       [-0.90383437, -0.24885782],
       [-0.80480212,  0.56295021],
       [-1.20093113, -1.5535493 ],
       [-0.50770535, -1.11865214],
       [ 0.28455268,  0.07006676],
       [-0.21060859, -1.06066585],
       [ 1.67100423,  1.6067034 ],
       [ 0.97777845,  1.78066227],
       [ 0.28455268,  0.04107362],
       [-0.80480212, -0.21986468],
       [-0.11157634,  0.07006676],
       [ 0.28455268, -0.19087153],
       [ 1.96810099, -0.65476184],
       [-0.80480212,  1.3457651 ],
       [-1.79512465, -0.59677555],
       [-0.11157634,  0.12805305],
       [ 0.28455268, -0.30684411],
       [ 1.07681071,  0.56295021],
       [-1.00286662,  0.27301877],
       [ 1.47293972,  0.35999821],
       [ 0.18552042, -0.3648304 ],
       [ 2.1661655 , -1.03167271],
       [-0.30964085,  1.11381995],
       [-1.6960924 ,  0.07006676],
       [-0.01254409,  0.04107362],
       [ 0.08648817,  1.05583366],
       [-0.11157634, -0.3648304 ],
       [-1.20093113,  0.07006676],
       [-0.30964085, -1.3505973 ],
       [ 1.57197197,  1.11381995],
       [-0.80480212, -1.52455616],
       [ 0.08648817,  1.8676417 ],
       [-0.90383437, -0.77073441],
       [-0.50770535, -0.77073441],
       [-0.30964085, -0.91570013],
       [ 0.28455268, -0.71274813],
       [ 0.28455268,  0.07006676],
       [ 0.08648817,  1.8676417 ],
       [-1.10189888,  1.95462113],
       [-1.6960924 , -1.5535493 ],
       [-1.20093113, -1.089659  ],
       [-0.70576986, -0.1038921 ],
       [ 0.08648817,  0.09905991],
       [ 0.28455268,  0.27301877],
       [ 0.8787462 , -0.5677824 ],
       [ 0.28455268, -1.14764529],
       [-0.11157634,  0.67892279],
       [ 2.1661655 , -0.68375498],
       [-1.29996338, -1.37959044],
       [-1.00286662, -0.94469328],
       [-0.01254409, -0.42281668],
       [-0.21060859, -0.45180983],
       [-1.79512465, -0.97368642],
       [ 1.77003648,  0.99784738],
       [ 0.18552042, -0.3648304 ],
       [ 0.38358493,  1.11381995],
       [-1.79512465, -1.3505973 ],
       [ 0.18552042, -0.13288524],
       [ 0.8787462 , -1.43757673],
       [-1.99318916,  0.47597078],
       [-0.30964085,  0.27301877],
       [ 1.86906873, -1.06066585],
       [-0.4086731 ,  0.07006676],
       [ 1.07681071, -0.88670699],
       [-1.10189888, -1.11865214],
       [-1.89415691,  0.01208048],
       [ 0.08648817,  0.27301877],
       [-1.20093113,  0.33100506],
       [-1.29996338,  0.30201192],
       [-1.00286662,  0.44697764],
       [ 1.67100423, -0.88670699],
       [ 1.17584296,  0.53395707],
       [ 1.07681071,  0.53395707],
       [ 1.37390747,  2.331532  ],
       [-0.30964085, -0.13288524],
       [ 0.38358493, -0.45180983],
       [-0.4086731 , -0.77073441],
       [-0.11157634, -0.50979612],
       [ 0.97777845, -1.14764529],
       [-0.90383437, -0.77073441],
       [-0.21060859, -0.50979612],
       [-1.10189888, -0.45180983],
       [-1.20093113,  1.40375139]])

In [104]:
xtest

array([[-0.80480212,  0.50496393],
       [-0.01254409, -0.5677824 ],
       [-0.30964085,  0.1570462 ],
       [-0.80480212,  0.27301877],
       [-0.30964085, -0.5677824 ],
       [-1.10189888, -1.43757673],
       [-0.70576986, -1.58254245],
       [-0.21060859,  2.15757314],
       [-1.99318916, -0.04590581],
       [ 0.8787462 , -0.77073441],
       [-0.80480212, -0.59677555],
       [-1.00286662, -0.42281668],
       [-0.11157634, -0.42281668],
       [ 0.08648817,  0.21503249],
       [-1.79512465,  0.47597078],
       [-0.60673761,  1.37475825],
       [-0.11157634,  0.21503249],
       [-1.89415691,  0.44697764],
       [ 1.67100423,  1.75166912],
       [-0.30964085, -1.37959044],
       [-0.30964085, -0.65476184],
       [ 0.8787462 ,  2.15757314],
       [ 0.28455268, -0.53878926],
       [ 0.8787462 ,  1.02684052],
       [-1.49802789, -1.20563157],
       [ 1.07681071,  2.07059371],
       [-1.00286662,  0.50496393],
       [-0.90383437,  0.30201192],
       [-0.11157634, -0.21986468],
       [-0.60673761,  0.47597078],
       [-1.6960924 ,  0.53395707],
       [-0.11157634,  0.27301877],
       [ 1.86906873, -0.27785096],
       [-0.11157634, -0.48080297],
       [-1.39899564, -0.33583725],
       [-1.99318916, -0.50979612],
       [-1.59706014,  0.33100506],
       [-0.4086731 , -0.77073441],
       [-0.70576986, -1.03167271],
       [ 1.07681071, -0.97368642],
       [-1.10189888,  0.53395707],
       [ 0.28455268, -0.50979612],
       [-1.10189888,  0.41798449],
       [-0.30964085, -1.43757673],
       [ 0.48261718,  1.22979253],
       [-1.10189888, -0.33583725],
       [-0.11157634,  0.30201192],
       [ 1.37390747,  0.59194336],
       [-1.20093113, -1.14764529],
       [ 1.07681071,  0.47597078],
       [ 1.86906873,  1.51972397],
       [-0.4086731 , -1.29261101],
       [-0.30964085, -0.3648304 ],
       [-0.4086731 ,  1.31677196],
       [ 2.06713324,  0.53395707],
       [ 0.68068169, -1.089659  ],
       [-0.90383437,  0.38899135],
       [-1.20093113,  0.30201192],
       [ 1.07681071, -1.20563157],
       [-1.49802789, -1.43757673],
       [-0.60673761, -1.49556302],
       [ 2.1661655 , -0.79972756],
       [-1.89415691,  0.18603934],
       [-0.21060859,  0.85288166],
       [-1.89415691, -1.26361786],
       [ 2.1661655 ,  0.38899135],
       [-1.39899564,  0.56295021],
       [-1.10189888, -0.33583725],
       [ 0.18552042, -0.65476184],
       [ 0.38358493,  0.01208048],
       [-0.60673761,  2.331532  ],
       [-0.30964085,  0.21503249],
       [-1.59706014, -0.19087153],
       [ 0.68068169, -1.37959044],
       [-1.10189888,  0.56295021],
       [-1.99318916,  0.35999821],
       [ 0.38358493,  0.27301877],
       [ 0.18552042, -0.27785096],
       [ 1.47293972, -1.03167271],
       [ 0.8787462 ,  1.08482681],
       [ 1.96810099,  2.15757314],
       [ 2.06713324,  0.38899135],
       [-1.39899564, -0.42281668],
       [-1.20093113, -1.00267957],
       [ 1.96810099, -0.91570013],
       [ 0.38358493,  0.30201192],
       [ 0.18552042,  0.1570462 ],
       [ 2.06713324,  1.75166912],
       [ 0.77971394, -0.8287207 ],
       [ 0.28455268, -0.27785096],
       [ 0.38358493, -0.16187839],
       [-0.11157634,  2.21555943],
       [-1.49802789, -0.62576869],
       [-1.29996338, -1.06066585],
       [-1.39899564,  0.41798449],
       [-1.10189888,  0.76590222],
       [-1.49802789, -0.19087153],
       [ 0.97777845, -1.06066585],
       [ 0.97777845,  0.59194336],
       [ 0.38358493,  0.99784738]])

In [65]:
from sklearn.tree import DecisionTreeClassifier

In [105]:
new=DecisionTreeClassifier(    criterion='gini',random_state=0)

In [107]:
new.fit(xtrain,ytrain)

DecisionTreeClassifier(random_state=0)

In [108]:
pred=new.predict(xtest)

In [114]:
pred

array([0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0,
       0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1,
       0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1,
       1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 1], dtype=int64)

In [118]:
xtest

array([[-0.80480212,  0.50496393],
       [-0.01254409, -0.5677824 ],
       [-0.30964085,  0.1570462 ],
       [-0.80480212,  0.27301877],
       [-0.30964085, -0.5677824 ],
       [-1.10189888, -1.43757673],
       [-0.70576986, -1.58254245],
       [-0.21060859,  2.15757314],
       [-1.99318916, -0.04590581],
       [ 0.8787462 , -0.77073441],
       [-0.80480212, -0.59677555],
       [-1.00286662, -0.42281668],
       [-0.11157634, -0.42281668],
       [ 0.08648817,  0.21503249],
       [-1.79512465,  0.47597078],
       [-0.60673761,  1.37475825],
       [-0.11157634,  0.21503249],
       [-1.89415691,  0.44697764],
       [ 1.67100423,  1.75166912],
       [-0.30964085, -1.37959044],
       [-0.30964085, -0.65476184],
       [ 0.8787462 ,  2.15757314],
       [ 0.28455268, -0.53878926],
       [ 0.8787462 ,  1.02684052],
       [-1.49802789, -1.20563157],
       [ 1.07681071,  2.07059371],
       [-1.00286662,  0.50496393],
       [-0.90383437,  0.30201192],
       [-0.11157634, -0.21986468],
       [-0.60673761,  0.47597078],
       [-1.6960924 ,  0.53395707],
       [-0.11157634,  0.27301877],
       [ 1.86906873, -0.27785096],
       [-0.11157634, -0.48080297],
       [-1.39899564, -0.33583725],
       [-1.99318916, -0.50979612],
       [-1.59706014,  0.33100506],
       [-0.4086731 , -0.77073441],
       [-0.70576986, -1.03167271],
       [ 1.07681071, -0.97368642],
       [-1.10189888,  0.53395707],
       [ 0.28455268, -0.50979612],
       [-1.10189888,  0.41798449],
       [-0.30964085, -1.43757673],
       [ 0.48261718,  1.22979253],
       [-1.10189888, -0.33583725],
       [-0.11157634,  0.30201192],
       [ 1.37390747,  0.59194336],
       [-1.20093113, -1.14764529],
       [ 1.07681071,  0.47597078],
       [ 1.86906873,  1.51972397],
       [-0.4086731 , -1.29261101],
       [-0.30964085, -0.3648304 ],
       [-0.4086731 ,  1.31677196],
       [ 2.06713324,  0.53395707],
       [ 0.68068169, -1.089659  ],
       [-0.90383437,  0.38899135],
       [-1.20093113,  0.30201192],
       [ 1.07681071, -1.20563157],
       [-1.49802789, -1.43757673],
       [-0.60673761, -1.49556302],
       [ 2.1661655 , -0.79972756],
       [-1.89415691,  0.18603934],
       [-0.21060859,  0.85288166],
       [-1.89415691, -1.26361786],
       [ 2.1661655 ,  0.38899135],
       [-1.39899564,  0.56295021],
       [-1.10189888, -0.33583725],
       [ 0.18552042, -0.65476184],
       [ 0.38358493,  0.01208048],
       [-0.60673761,  2.331532  ],
       [-0.30964085,  0.21503249],
       [-1.59706014, -0.19087153],
       [ 0.68068169, -1.37959044],
       [-1.10189888,  0.56295021],
       [-1.99318916,  0.35999821],
       [ 0.38358493,  0.27301877],
       [ 0.18552042, -0.27785096],
       [ 1.47293972, -1.03167271],
       [ 0.8787462 ,  1.08482681],
       [ 1.96810099,  2.15757314],
       [ 2.06713324,  0.38899135],
       [-1.39899564, -0.42281668],
       [-1.20093113, -1.00267957],
       [ 1.96810099, -0.91570013],
       [ 0.38358493,  0.30201192],
       [ 0.18552042,  0.1570462 ],
       [ 2.06713324,  1.75166912],
       [ 0.77971394, -0.8287207 ],
       [ 0.28455268, -0.27785096],
       [ 0.38358493, -0.16187839],
       [-0.11157634,  2.21555943],
       [-1.49802789, -0.62576869],
       [-1.29996338, -1.06066585],
       [-1.39899564,  0.41798449],
       [-1.10189888,  0.76590222],
       [-1.49802789, -0.19087153],
       [ 0.97777845, -1.06066585],
       [ 0.97777845,  0.59194336],
       [ 0.38358493,  0.99784738]])

# Spliting

In [146]:
a=pd.read_csv("dataset/place.csv")

In [147]:
a

     cgpa  package
0    6.89     3.26
1    5.12     1.98
2    7.82     3.25
3    7.42     3.67
4    6.94     3.57
..    ...      ...
195  6.93     2.46
196  5.89     2.57
197  7.21     3.24
198  7.63     3.96
199  6.22     2.33

[200 rows x 2 columns]

In [161]:
x=a.iloc[:,0:1].values

In [162]:
x

array([[6.89],
       [5.12],
       [7.82],
       [7.42],
       [6.94],
       [7.89],
       [6.73],
       [6.75],
       [6.09],
       [8.31],
       [5.32],
       [6.61],
       [8.94],
       [6.93],
       [7.73],
       [7.25],
       [6.84],
       [5.38],
       [6.94],
       [7.48],
       [7.28],
       [6.85],
       [6.14],
       [6.19],
       [6.53],
       [7.28],
       [8.31],
       [5.42],
       [5.94],
       [7.15],
       [7.36],
       [8.1 ],
       [6.96],
       [6.35],
       [7.34],
       [6.87],
       [5.99],
       [5.9 ],
       [8.62],
       [7.43],
       [9.38],
       [6.89],
       [5.95],
       [7.66],
       [5.09],
       [7.87],
       [6.07],
       [5.84],
       [8.63],
       [8.87],
       [9.58],
       [9.26],
       [8.37],
       [6.47],
       [6.86],
       [8.2 ],
       [5.84],
       [6.6 ],
       [6.92],
       [7.56],
       [5.61],
       [5.48],
       [6.34],
       [9.16],
       [7.36],
       [7.6 ],
       [5.11],
       [6.51],
       [7.56],
       [7.3 ],
       [5.79],
       [7.47],
       [7.78],
       [8.44],
       [6.85],
       [6.97],
       [6.94],
       [8.99],
       [6.59],
       [7.18],
       [7.63],
       [6.1 ],
       [5.58],
       [8.44],
       [4.26],
       [4.79],
       [7.61],
       [8.09],
       [4.73],
       [6.42],
       [7.11],
       [6.22],
       [7.9 ],
       [6.79],
       [5.83],
       [6.63],
       [7.11],
       [5.98],
       [7.69],
       [6.61],
       [7.95],
       [6.71],
       [5.13],
       [7.05],
       [7.62],
       [6.66],
       [6.13],
       [6.33],
       [7.76],
       [7.77],
       [8.18],
       [5.42],
       [8.58],
       [6.94],
       [5.84],
       [8.35],
       [9.04],
       [7.12],
       [7.4 ],
       [7.39],
       [5.23],
       [6.5 ],
       [5.12],
       [5.1 ],
       [6.06],
       [7.33],
       [5.91],
       [6.78],
       [7.93],
       [7.29],
       [6.68],
       [6.37],
       [5.84],
       [6.05],
       [7.2 ],
       [6.1 ],
       [5.64],
       [7.14],
       [7.91],
       [7.19],
       [7.91],
       [6.76],
       [6.93],
       [4.85],
       [6.17],
       [5.84],
       [6.07],
       [5.66],
       [7.57],
       [8.28],
       [6.3 ],
       [6.12],
       [7.37],
       [7.94],
       [7.08],
       [6.98],
       [7.38],
       [6.47],
       [5.95],
       [8.71],
       [7.13],
       [7.3 ],
       [5.53],
       [8.93],
       [9.06],
       [8.21],
       [8.6 ],
       [8.13],
       [8.65],
       [9.31],
       [6.22],
       [8.01],
       [6.93],
       [6.75],
       [7.32],
       [7.04],
       [6.29],
       [7.09],
       [8.15],
       [7.14],
       [6.19],
       [8.22],
       [5.88],
       [7.28],
       [7.88],
       [6.31],
       [7.84],
       [6.26],
       [7.35],
       [8.11],
       [6.19],
       [7.28],
       [8.25],
       [4.57],
       [7.89],
       [6.93],
       [5.89],
       [7.21],
       [7.63],
       [6.22]])

In [163]:
y=a.iloc[:,1:2].values

In [164]:
y

array([[3.26],
       [1.98],
       [3.25],
       [3.67],
       [3.57],
       [2.99],
       [2.6 ],
       [2.48],
       [2.31],
       [3.51],
       [1.86],
       [2.6 ],
       [3.65],
       [2.89],
       [3.42],
       [3.23],
       [2.35],
       [2.09],
       [2.98],
       [2.83],
       [3.16],
       [2.93],
       [2.3 ],
       [2.48],
       [2.71],
       [3.65],
       [3.42],
       [2.16],
       [2.24],
       [3.49],
       [3.26],
       [3.89],
       [3.08],
       [2.73],
       [3.42],
       [2.87],
       [2.84],
       [2.43],
       [4.36],
       [3.33],
       [4.02],
       [2.7 ],
       [2.54],
       [2.76],
       [1.86],
       [3.58],
       [2.26],
       [3.26],
       [4.09],
       [4.62],
       [4.43],
       [3.79],
       [4.11],
       [2.61],
       [3.09],
       [3.39],
       [2.74],
       [1.94],
       [3.09],
       [3.31],
       [2.19],
       [1.61],
       [2.09],
       [4.25],
       [2.92],
       [3.81],
       [1.63],
       [2.89],
       [2.99],
       [2.94],
       [2.35],
       [3.34],
       [3.62],
       [4.03],
       [3.44],
       [3.28],
       [3.15],
       [4.6 ],
       [2.21],
       [3.  ],
       [3.44],
       [2.2 ],
       [2.17],
       [3.49],
       [1.53],
       [1.48],
       [2.77],
       [3.55],
       [1.48],
       [2.72],
       [2.66],
       [2.14],
       [4.  ],
       [3.08],
       [2.42],
       [2.79],
       [2.61],
       [2.84],
       [3.83],
       [3.24],
       [4.14],
       [3.52],
       [1.37],
       [3.  ],
       [3.74],
       [2.82],
       [2.19],
       [2.59],
       [3.54],
       [4.06],
       [3.76],
       [2.25],
       [4.1 ],
       [2.37],
       [1.87],
       [4.21],
       [3.33],
       [2.99],
       [2.88],
       [2.65],
       [1.73],
       [3.02],
       [2.01],
       [2.3 ],
       [2.31],
       [3.16],
       [2.6 ],
       [3.11],
       [3.34],
       [3.12],
       [2.49],
       [2.01],
       [2.48],
       [2.58],
       [2.83],
       [2.6 ],
       [2.1 ],
       [3.13],
       [3.89],
       [2.4 ],
       [3.15],
       [3.18],
       [3.04],
       [1.54],
       [2.42],
       [2.18],
       [2.46],
       [2.21],
       [3.4 ],
       [3.67],
       [2.73],
       [2.76],
       [3.08],
       [3.99],
       [2.85],
       [3.09],
       [3.13],
       [2.7 ],
       [3.04],
       [4.08],
       [2.93],
       [3.33],
       [2.55],
       [3.91],
       [3.82],
       [4.08],
       [3.98],
       [3.6 ],
       [3.52],
       [4.37],
       [2.87],
       [3.76],
       [2.51],
       [2.56],
       [2.99],
       [3.5 ],
       [3.23],
       [3.64],
       [3.63],
       [3.03],
       [2.72],
       [3.89],
       [2.08],
       [2.72],
       [3.14],
       [3.18],
       [3.47],
       [2.44],
       [3.08],
       [4.06],
       [2.69],
       [3.48],
       [3.75],
       [1.94],
       [3.67],
       [2.46],
       [2.57],
       [3.24],
       [3.96],
       [2.33]])

In [165]:
from sklearn.model_selection import train_test_split

In [166]:
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=1/3,random_state=1)

In [167]:
xtrain

array([[6.66],
       [8.63],
       [5.11],
       [6.86],
       [4.26],
       [7.28],
       [5.95],
       [8.6 ],
       [6.94],
       [8.94],
       [7.12],
       [6.79],
       [5.23],
       [7.08],
       [7.11],
       [6.1 ],
       [5.12],
       [7.28],
       [6.93],
       [5.58],
       [5.84],
       [6.26],
       [7.87],
       [6.61],
       [5.99],
       [7.3 ],
       [7.84],
       [7.94],
       [7.05],
       [6.93],
       [7.21],
       [7.57],
       [6.75],
       [6.97],
       [6.85],
       [6.22],
       [7.37],
       [7.82],
       [5.79],
       [4.79],
       [6.3 ],
       [6.73],
       [8.58],
       [6.89],
       [6.98],
       [8.99],
       [7.6 ],
       [8.2 ],
       [8.13],
       [4.73],
       [6.68],
       [6.07],
       [6.34],
       [6.85],
       [7.9 ],
       [5.66],
       [7.13],
       [4.85],
       [8.09],
       [6.19],
       [5.84],
       [9.06],
       [5.32],
       [6.96],
       [8.44],
       [5.88],
       [7.95],
       [7.33],
       [6.19],
       [5.91],
       [8.31],
       [6.22],
       [7.62],
       [6.12],
       [6.1 ],
       [5.42],
       [7.35],
       [7.36],
       [7.25],
       [6.89],
       [8.93],
       [7.77],
       [7.63],
       [8.37],
       [8.31],
       [6.94],
       [7.66],
       [6.53],
       [7.42],
       [9.31],
       [8.87],
       [8.28],
       [6.37],
       [6.19],
       [7.36],
       [6.5 ],
       [8.35],
       [7.04],
       [6.09],
       [5.61],
       [7.93],
       [5.12],
       [6.6 ],
       [6.14],
       [5.48],
       [9.16],
       [6.75],
       [5.89],
       [6.76],
       [7.61],
       [7.11],
       [7.56],
       [9.58],
       [6.93],
       [6.47],
       [7.38],
       [7.19],
       [6.07],
       [6.71],
       [7.28],
       [8.15],
       [7.28],
       [7.2 ],
       [7.47],
       [7.29],
       [6.17],
       [8.25],
       [7.18],
       [6.05],
       [7.14],
       [7.78],
       [7.91],
       [5.9 ]])

In [168]:
xtest

array([[6.92],
       [9.38],
       [7.34],
       [5.13],
       [7.88],
       [7.63],
       [6.63],
       [6.94],
       [7.15],
       [8.65],
       [8.01],
       [6.94],
       [6.61],
       [6.42],
       [8.18],
       [7.4 ],
       [8.71],
       [6.87],
       [5.64],
       [7.56],
       [9.26],
       [6.84],
       [5.09],
       [5.83],
       [8.1 ],
       [5.53],
       [8.62],
       [5.94],
       [4.57],
       [5.42],
       [5.84],
       [8.21],
       [7.89],
       [7.09],
       [6.29],
       [5.98],
       [7.32],
       [8.44],
       [7.3 ],
       [6.93],
       [7.76],
       [6.33],
       [8.11],
       [7.73],
       [5.84],
       [7.48],
       [5.84],
       [7.43],
       [6.31],
       [6.06],
       [7.69],
       [5.1 ],
       [7.39],
       [6.47],
       [6.35],
       [7.14],
       [8.22],
       [6.13],
       [6.22],
       [7.91],
       [9.04],
       [6.51],
       [6.59],
       [5.95],
       [5.38],
       [7.89],
       [6.78]])

In [169]:
ytrain

array([[2.82],
       [4.09],
       [1.63],
       [3.09],
       [1.53],
       [2.72],
       [3.04],
       [3.98],
       [2.37],
       [3.65],
       [2.99],
       [3.08],
       [1.73],
       [2.85],
       [2.66],
       [2.2 ],
       [2.01],
       [3.48],
       [2.89],
       [2.17],
       [2.48],
       [2.44],
       [3.58],
       [3.24],
       [2.84],
       [3.33],
       [3.47],
       [3.99],
       [3.  ],
       [2.46],
       [3.24],
       [3.4 ],
       [2.56],
       [3.28],
       [2.93],
       [2.14],
       [3.08],
       [3.25],
       [2.35],
       [1.48],
       [2.73],
       [2.6 ],
       [4.1 ],
       [3.26],
       [3.09],
       [4.6 ],
       [3.81],
       [3.39],
       [3.6 ],
       [1.48],
       [2.49],
       [2.26],
       [2.09],
       [3.44],
       [4.  ],
       [2.21],
       [2.93],
       [1.54],
       [3.55],
       [2.72],
       [2.18],
       [3.82],
       [1.86],
       [3.08],
       [3.49],
       [2.08],
       [4.14],
       [3.16],
       [2.48],
       [2.6 ],
       [3.51],
       [2.87],
       [3.74],
       [2.76],
       [2.6 ],
       [2.25],
       [3.08],
       [2.92],
       [3.23],
       [2.7 ],
       [3.91],
       [4.06],
       [3.44],
       [4.11],
       [3.42],
       [3.15],
       [2.76],
       [2.71],
       [3.67],
       [4.37],
       [4.62],
       [3.67],
       [2.01],
       [2.69],
       [3.26],
       [3.02],
       [4.21],
       [3.5 ],
       [2.31],
       [2.19],
       [3.34],
       [1.98],
       [1.94],
       [2.3 ],
       [1.61],
       [4.25],
       [2.48],
       [2.57],
       [3.18],
       [2.77],
       [2.61],
       [2.99],
       [4.43],
       [3.04],
       [2.7 ],
       [3.13],
       [2.4 ],
       [2.46],
       [3.52],
       [3.16],
       [3.63],
       [3.65],
       [2.83],
       [3.34],
       [3.12],
       [2.42],
       [3.75],
       [3.  ],
       [2.58],
       [3.13],
       [3.62],
       [3.15],
       [2.43]])

In [170]:
ytest

array([[3.09],
       [4.02],
       [3.42],
       [1.37],
       [3.14],
       [3.96],
       [2.79],
       [3.57],
       [3.49],
       [3.52],
       [3.76],
       [2.98],
       [2.6 ],
       [2.72],
       [3.76],
       [2.88],
       [4.08],
       [2.87],
       [2.1 ],
       [3.31],
       [3.79],
       [2.35],
       [1.86],
       [2.42],
       [3.89],
       [2.55],
       [4.36],
       [2.24],
       [1.94],
       [2.16],
       [3.26],
       [4.08],
       [3.67],
       [3.64],
       [3.23],
       [2.84],
       [2.99],
       [4.03],
       [2.94],
       [2.51],
       [3.54],
       [2.59],
       [4.06],
       [3.42],
       [2.74],
       [2.83],
       [1.87],
       [3.33],
       [3.18],
       [2.31],
       [3.83],
       [2.3 ],
       [2.65],
       [2.61],
       [2.73],
       [3.03],
       [3.89],
       [2.19],
       [2.33],
       [3.89],
       [3.33],
       [2.89],
       [2.21],
       [2.54],
       [2.09],
       [2.99],
       [3.11]])

In [171]:
from sklearn.linear_model import LinearRegression

In [172]:
new=LinearRegression()

In [173]:
new.fit(xtrain,ytrain)

LinearRegression()

In [174]:
pred=new.predict(xtest)

In [175]:
pred

array([[2.93858365],
       [4.40239218],
       [3.18850218],
       [1.87345469],
       [3.50982601],
       [3.36106498],
       [2.76602086],
       [2.95048454],
       [3.0754438 ],
       [3.96800997],
       [3.58718174],
       [2.95048454],
       [2.75411998],
       [2.6410616 ],
       [3.68833924],
       [3.22420483],
       [4.00371262],
       [2.90883145],
       [2.17692719],
       [3.31941189],
       [4.33098689],
       [2.89098013],
       [1.84965292],
       [2.28998557],
       [3.64073571],
       [2.11147233],
       [3.95015865],
       [2.35544042],
       [1.54022998],
       [2.04601748],
       [2.29593601],
       [3.70619056],
       [3.51577645],
       [3.03974115],
       [2.56370586],
       [2.37924219],
       [3.1766013 ],
       [3.84305071],
       [3.16470042],
       [2.9445341 ],
       [3.43842071],
       [2.58750763],
       [3.64668615],
       [3.42056939],
       [2.29593601],
       [3.27180836],
       [2.29593601],
       [3.24205615],
       [2.57560674],
       [2.42684572],
       [3.39676762],
       [1.85560336],
       [3.21825439],
       [2.6708138 ],
       [2.59940851],
       [3.06949336],
       [3.712141  ],
       [2.4684988 ],
       [2.52205277],
       [3.52767733],
       [4.20007718],
       [2.69461557],
       [2.7422191 ],
       [2.36139086],
       [2.02221572],
       [3.51577645],
       [2.85527748]])

In [176]:
ytest

array([[3.09],
       [4.02],
       [3.42],
       [1.37],
       [3.14],
       [3.96],
       [2.79],
       [3.57],
       [3.49],
       [3.52],
       [3.76],
       [2.98],
       [2.6 ],
       [2.72],
       [3.76],
       [2.88],
       [4.08],
       [2.87],
       [2.1 ],
       [3.31],
       [3.79],
       [2.35],
       [1.86],
       [2.42],
       [3.89],
       [2.55],
       [4.36],
       [2.24],
       [1.94],
       [2.16],
       [3.26],
       [4.08],
       [3.67],
       [3.64],
       [3.23],
       [2.84],
       [2.99],
       [4.03],
       [2.94],
       [2.51],
       [3.54],
       [2.59],
       [4.06],
       [3.42],
       [2.74],
       [2.83],
       [1.87],
       [3.33],
       [3.18],
       [2.31],
       [3.83],
       [2.3 ],
       [2.65],
       [2.61],
       [2.73],
       [3.03],
       [3.89],
       [2.19],
       [2.33],
       [3.89],
       [3.33],
       [2.89],
       [2.21],
       [2.54],
       [2.09],
       [2.99],
       [3.11]])

# multiple linear regression

In [178]:
b=pd.read_csv("dataset/cgpa_marks_package.csv")

In [179]:
b

     cgpa  Interview_marks  package
0    6.89               26     3.26
1    5.12               38     1.98
2    7.82               40     3.25
3    7.42                8     3.67
4    6.94               17     3.57
..    ...              ...      ...
195  6.93               44     2.46
196  5.89               34     2.57
197  7.21               27     3.24
198  7.63               44     3.96
199  6.22               25     2.33

[200 rows x 3 columns]

In [182]:
x=b.iloc[:,0:2].values

In [183]:
x

array([[ 6.89, 26.  ],
       [ 5.12, 38.  ],
       [ 7.82, 40.  ],
       [ 7.42,  8.  ],
       [ 6.94, 17.  ],
       [ 7.89, 23.  ],
       [ 6.73, 11.  ],
       [ 6.75, 39.  ],
       [ 6.09, 38.  ],
       [ 8.31, 94.  ],
       [ 5.32, 16.  ],
       [ 6.61,  7.  ],
       [ 8.94, 16.  ],
       [ 6.93, 26.  ],
       [ 7.73, 43.  ],
       [ 7.25, 21.  ],
       [ 6.84, 19.  ],
       [ 5.38, 22.  ],
       [ 6.94, 27.  ],
       [ 7.48, 29.  ],
       [ 7.28, 47.  ],
       [ 6.85, 33.  ],
       [ 6.14, 54.  ],
       [ 6.19, 11.  ],
       [ 6.53, 11.  ],
       [ 7.28, 58.  ],
       [ 8.31,  8.  ],
       [ 5.42, 46.  ],
       [ 5.94, 19.  ],
       [ 7.15, 15.  ],
       [ 7.36, 16.  ],
       [ 8.1 , 44.  ],
       [ 6.96, 11.  ],
       [ 6.35, 27.  ],
       [ 7.34,  9.  ],
       [ 6.87, 12.  ],
       [ 5.99, 16.  ],
       [ 5.9 ,  9.  ],
       [ 8.62, 20.  ],
       [ 7.43, 17.  ],
       [ 9.38, 86.  ],
       [ 6.89, 38.  ],
       [ 5.95, 71.  ],
       [ 7.66, 63.  ],
       [ 5.09, 55.  ],
       [ 7.87, 10.  ],
       [ 6.07, 15.  ],
       [ 5.84, 46.  ],
       [ 8.63, 42.  ],
       [ 8.87, 28.  ],
       [ 9.58, 18.  ],
       [ 9.26, 28.  ],
       [ 8.37, 27.  ],
       [ 6.47, 33.  ],
       [ 6.86, 36.  ],
       [ 8.2 , 15.  ],
       [ 5.84, 15.  ],
       [ 6.6 , 24.  ],
       [ 6.92, 43.  ],
       [ 7.56, 32.  ],
       [ 5.61, 31.  ],
       [ 5.48, 86.  ],
       [ 6.34, 22.  ],
       [ 9.16, 26.  ],
       [ 7.36, 52.  ],
       [ 7.6 , 28.  ],
       [ 5.11, 31.  ],
       [ 6.51, 18.  ],
       [ 7.56, 30.  ],
       [ 7.3 , 44.  ],
       [ 5.79, 17.  ],
       [ 7.47, 20.  ],
       [ 7.78, 19.  ],
       [ 8.44, 12.  ],
       [ 6.85,  3.  ],
       [ 6.97, 56.  ],
       [ 6.94, 12.  ],
       [ 8.99, 28.  ],
       [ 6.59, 12.  ],
       [ 7.18, 19.  ],
       [ 7.63, 46.  ],
       [ 6.1 , 44.  ],
       [ 5.58, 12.  ],
       [ 8.44, 20.  ],
       [ 4.26, 35.  ],
       [ 4.79, 28.  ],
       [ 7.61, 22.  ],
       [ 8.09, 19.  ],
       [ 4.73, 39.  ],
       [ 6.42, 17.  ],
       [ 7.11, 15.  ],
       [ 6.22,  6.  ],
       [ 7.9 , 63.  ],
       [ 6.79, 30.  ],
       [ 5.83, 21.  ],
       [ 6.63, 35.  ],
       [ 7.11, 28.  ],
       [ 5.98, 52.  ],
       [ 7.69, 76.  ],
       [ 6.61, 23.  ],
       [ 7.95, 46.  ],
       [ 6.71, 26.  ],
       [ 5.13, 22.  ],
       [ 7.05, 18.  ],
       [ 7.62, 47.  ],
       [ 6.66, 12.  ],
       [ 6.13, 22.  ],
       [ 6.33,  9.  ],
       [ 7.76, 10.  ],
       [ 7.77, 21.  ],
       [ 8.18, 31.  ],
       [ 5.42, 33.  ],
       [ 8.58, 15.  ],
       [ 6.94, 10.  ],
       [ 5.84, 77.  ],
       [ 8.35, 37.  ],
       [ 9.04, 21.  ],
       [ 7.12,  0.  ],
       [ 7.4 , 54.  ],
       [ 7.39, 39.  ],
       [ 5.23, 46.  ],
       [ 6.5 , 27.  ],
       [ 5.12, 51.  ],
       [ 5.1 , 52.  ],
       [ 6.06, 30.  ],
       [ 7.33, 55.  ],
       [ 5.91, 37.  ],
       [ 6.78, 23.  ],
       [ 7.93, 25.  ],
       [ 7.29, 39.  ],
       [ 6.68, 53.  ],
       [ 6.37, 19.  ],
       [ 5.84, 18.  ],
       [ 6.05, 64.  ],
       [ 7.2 , 93.  ],
       [ 6.1 , 47.  ],
       [ 5.64, 15.  ],
       [ 7.14, 53.  ],
       [ 7.91,  8.  ],
       [ 7.19,  5.  ],
       [ 7.91, 22.  ],
       [ 6.76, 18.  ],
       [ 6.93, 41.  ],
       [ 4.85, 33.  ],
       [ 6.17, 17.  ],
       [ 5.84, 28.  ],
       [ 6.07, 22.  ],
       [ 5.66, 11.  ],
       [ 7.57, 49.  ],
       [ 8.28, 58.  ],
       [ 6.3 , 22.  ],
       [ 6.12, 16.  ],
       [ 7.37, 56.  ],
       [ 7.94, 10.  ],
       [ 7.08, 54.  ],
       [ 6.98, 12.  ],
       [ 7.38, 34.  ],
       [ 6.47, 81.  ],
       [ 5.95, 50.  ],
       [ 8.71, 22.  ],
       [ 7.13, 10.  ],
       [ 7.3 , 52.  ],
       [ 5.53, 90.  ],
       [ 8.93, 42.  ],
       [ 9.06, 34.  ],
       [ 8.21,  7.  ],
       [ 8.6 , 59.  ],
       [ 8.13, 48.  ],
       [ 8.65, 37.  ],
       [ 9.31, 16.  ],
       [ 6.22, 37.  ],
       [ 8.01, 38.  ],
       [ 6.93, 43.  ],
       [ 6.75, 48.  ],
       [ 7.32, 21.  ],
       [ 7.04, 26.  ],
       [ 6.29, 30.  ],
       [ 7.09, 40.  ],
       [ 8.15, 39.  ],
       [ 7.14, 45.  ],
       [ 6.19, 29.  ],
       [ 8.22, 42.  ],
       [ 5.88, 76.  ],
       [ 7.28, 18.  ],
       [ 7.88, 33.  ],
       [ 6.31, 31.  ],
       [ 7.84, 63.  ],
       [ 6.26, 10.  ],
       [ 7.35, 55.  ],
       [ 8.11,  9.  ],
       [ 6.19, 23.  ],
       [ 7.28,  8.  ],
       [ 8.25, 38.  ],
       [ 4.57, 14.  ],
       [ 7.89, 33.  ],
       [ 6.93, 44.  ],
       [ 5.89, 34.  ],
       [ 7.21, 27.  ],
       [ 7.63, 44.  ],
       [ 6.22, 25.  ]])

In [186]:
y=b.iloc[:,2:3].values

In [187]:
y

array([[3.26],
       [1.98],
       [3.25],
       [3.67],
       [3.57],
       [2.99],
       [2.6 ],
       [2.48],
       [2.31],
       [3.51],
       [1.86],
       [2.6 ],
       [3.65],
       [2.89],
       [3.42],
       [3.23],
       [2.35],
       [2.09],
       [2.98],
       [2.83],
       [3.16],
       [2.93],
       [2.3 ],
       [2.48],
       [2.71],
       [3.65],
       [3.42],
       [2.16],
       [2.24],
       [3.49],
       [3.26],
       [3.89],
       [3.08],
       [2.73],
       [3.42],
       [2.87],
       [2.84],
       [2.43],
       [4.36],
       [3.33],
       [4.02],
       [2.7 ],
       [2.54],
       [2.76],
       [1.86],
       [3.58],
       [2.26],
       [3.26],
       [4.09],
       [4.62],
       [4.43],
       [3.79],
       [4.11],
       [2.61],
       [3.09],
       [3.39],
       [2.74],
       [1.94],
       [3.09],
       [3.31],
       [2.19],
       [1.61],
       [2.09],
       [4.25],
       [2.92],
       [3.81],
       [1.63],
       [2.89],
       [2.99],
       [2.94],
       [2.35],
       [3.34],
       [3.62],
       [4.03],
       [3.44],
       [3.28],
       [3.15],
       [4.6 ],
       [2.21],
       [3.  ],
       [3.44],
       [2.2 ],
       [2.17],
       [3.49],
       [1.53],
       [1.48],
       [2.77],
       [3.55],
       [1.48],
       [2.72],
       [2.66],
       [2.14],
       [4.  ],
       [3.08],
       [2.42],
       [2.79],
       [2.61],
       [2.84],
       [3.83],
       [3.24],
       [4.14],
       [3.52],
       [1.37],
       [3.  ],
       [3.74],
       [2.82],
       [2.19],
       [2.59],
       [3.54],
       [4.06],
       [3.76],
       [2.25],
       [4.1 ],
       [2.37],
       [1.87],
       [4.21],
       [3.33],
       [2.99],
       [2.88],
       [2.65],
       [1.73],
       [3.02],
       [2.01],
       [2.3 ],
       [2.31],
       [3.16],
       [2.6 ],
       [3.11],
       [3.34],
       [3.12],
       [2.49],
       [2.01],
       [2.48],
       [2.58],
       [2.83],
       [2.6 ],
       [2.1 ],
       [3.13],
       [3.89],
       [2.4 ],
       [3.15],
       [3.18],
       [3.04],
       [1.54],
       [2.42],
       [2.18],
       [2.46],
       [2.21],
       [3.4 ],
       [3.67],
       [2.73],
       [2.76],
       [3.08],
       [3.99],
       [2.85],
       [3.09],
       [3.13],
       [2.7 ],
       [3.04],
       [4.08],
       [2.93],
       [3.33],
       [2.55],
       [3.91],
       [3.82],
       [4.08],
       [3.98],
       [3.6 ],
       [3.52],
       [4.37],
       [2.87],
       [3.76],
       [2.51],
       [2.56],
       [2.99],
       [3.5 ],
       [3.23],
       [3.64],
       [3.63],
       [3.03],
       [2.72],
       [3.89],
       [2.08],
       [2.72],
       [3.14],
       [3.18],
       [3.47],
       [2.44],
       [3.08],
       [4.06],
       [2.69],
       [3.48],
       [3.75],
       [1.94],
       [3.67],
       [2.46],
       [2.57],
       [3.24],
       [3.96],
       [2.33]])

In [189]:
from sklearn.model_selection import train_test_split

In [190]:
xtrain,xtest,ytrain,ytest=train_test_split(x,y,train_size=1/3,random_state=2)

In [191]:
xtrain

array([[ 7.61, 22.  ],
       [ 5.79, 17.  ],
       [ 5.61, 31.  ],
       [ 7.34,  9.  ],
       [ 9.38, 86.  ],
       [ 7.91,  8.  ],
       [ 6.94, 12.  ],
       [ 7.94, 10.  ],
       [ 8.31,  8.  ],
       [ 6.96, 11.  ],
       [ 6.93, 44.  ],
       [ 7.11, 28.  ],
       [ 8.44, 20.  ],
       [ 8.18, 31.  ],
       [ 6.66, 12.  ],
       [ 8.44, 12.  ],
       [ 7.12,  0.  ],
       [ 6.3 , 22.  ],
       [ 5.84, 28.  ],
       [ 6.98, 12.  ],
       [ 7.63, 44.  ],
       [ 5.64, 15.  ],
       [ 7.43, 17.  ],
       [ 8.87, 28.  ],
       [ 7.84, 63.  ],
       [ 5.84, 18.  ],
       [ 9.58, 18.  ],
       [ 8.37, 27.  ],
       [ 7.63, 46.  ],
       [ 6.31, 31.  ],
       [ 6.5 , 27.  ],
       [ 8.11,  9.  ],
       [ 6.07, 15.  ],
       [ 4.73, 39.  ],
       [ 7.3 , 44.  ],
       [ 6.51, 18.  ],
       [ 7.28, 18.  ],
       [ 6.92, 43.  ],
       [ 6.35, 27.  ],
       [ 8.62, 20.  ],
       [ 7.05, 18.  ],
       [ 9.26, 28.  ],
       [ 6.33,  9.  ],
       [ 6.22, 37.  ],
       [ 6.94, 17.  ],
       [ 5.13, 22.  ],
       [ 8.13, 48.  ],
       [ 5.9 ,  9.  ],
       [ 9.04, 21.  ],
       [ 6.06, 30.  ],
       [ 7.57, 49.  ],
       [ 8.1 , 44.  ],
       [ 9.16, 26.  ],
       [ 5.84, 46.  ],
       [ 7.89, 33.  ],
       [ 6.63, 35.  ],
       [ 7.09, 40.  ],
       [ 5.53, 90.  ],
       [ 6.75, 39.  ],
       [ 7.62, 47.  ],
       [ 6.97, 56.  ],
       [ 7.66, 63.  ],
       [ 6.14, 54.  ],
       [ 7.78, 19.  ],
       [ 7.25, 21.  ],
       [ 8.65, 37.  ]])

In [192]:
xtest

array([[ 8.58, 15.  ],
       [ 7.15, 15.  ],
       [ 5.88, 76.  ],
       [ 6.22, 25.  ],
       [ 4.57, 14.  ],
       [ 4.79, 28.  ],
       [ 5.32, 16.  ],
       [ 6.86, 36.  ],
       [ 8.35, 37.  ],
       [ 6.87, 12.  ],
       [ 8.94, 16.  ],
       [ 7.9 , 63.  ],
       [ 6.93, 26.  ],
       [ 5.91, 37.  ],
       [ 7.32, 21.  ],
       [ 7.82, 40.  ],
       [ 5.09, 55.  ],
       [ 7.42,  8.  ],
       [ 6.94, 10.  ],
       [ 7.73, 43.  ],
       [ 6.19, 11.  ],
       [ 7.28, 58.  ],
       [ 6.73, 11.  ],
       [ 7.2 , 93.  ],
       [ 8.21,  7.  ],
       [ 6.75, 48.  ],
       [ 7.87, 10.  ],
       [ 7.6 , 28.  ],
       [ 8.63, 42.  ],
       [ 5.12, 51.  ],
       [ 8.15, 39.  ],
       [ 7.36, 52.  ],
       [ 8.31, 94.  ],
       [ 6.6 , 24.  ],
       [ 6.59, 12.  ],
       [ 7.47, 20.  ],
       [ 7.93, 25.  ],
       [ 6.29, 30.  ],
       [ 6.37, 19.  ],
       [ 6.47, 33.  ],
       [ 7.14, 53.  ],
       [ 8.93, 42.  ],
       [ 5.42, 33.  ],
       [ 5.1 , 52.  ],
       [ 7.77, 21.  ],
       [ 6.76, 18.  ],
       [ 6.89, 38.  ],
       [ 6.68, 53.  ],
       [ 7.91, 22.  ],
       [ 7.89, 23.  ],
       [ 8.71, 22.  ],
       [ 7.95, 46.  ],
       [ 6.61,  7.  ],
       [ 6.26, 10.  ],
       [ 6.53, 11.  ],
       [ 6.42, 17.  ],
       [ 5.11, 31.  ],
       [ 6.09, 38.  ],
       [ 6.93, 43.  ],
       [ 7.04, 26.  ],
       [ 5.94, 19.  ],
       [ 6.05, 64.  ],
       [ 5.83, 21.  ],
       [ 5.95, 71.  ],
       [ 9.31, 16.  ],
       [ 5.58, 12.  ],
       [ 7.88, 33.  ],
       [ 6.13, 22.  ],
       [ 7.76, 10.  ],
       [ 4.85, 33.  ],
       [ 6.19, 29.  ],
       [ 8.6 , 59.  ],
       [ 6.07, 22.  ],
       [ 7.18, 19.  ],
       [ 5.12, 38.  ],
       [ 7.39, 39.  ],
       [ 8.25, 38.  ],
       [ 8.28, 58.  ],
       [ 7.13, 10.  ],
       [ 7.35, 55.  ],
       [ 5.66, 11.  ],
       [ 5.99, 16.  ],
       [ 8.01, 38.  ],
       [ 7.14, 45.  ],
       [ 6.34, 22.  ],
       [ 6.89, 26.  ],
       [ 5.42, 46.  ],
       [ 6.47, 81.  ],
       [ 7.69, 76.  ],
       [ 7.4 , 54.  ],
       [ 7.28, 47.  ],
       [ 5.95, 50.  ],
       [ 7.38, 34.  ],
       [ 6.93, 41.  ],
       [ 8.99, 28.  ],
       [ 7.36, 16.  ],
       [ 7.08, 54.  ],
       [ 5.38, 22.  ],
       [ 7.56, 32.  ],
       [ 8.22, 42.  ],
       [ 5.84, 77.  ],
       [ 6.78, 23.  ],
       [ 7.19,  5.  ],
       [ 7.28,  8.  ],
       [ 6.79, 30.  ],
       [ 6.12, 16.  ],
       [ 6.85, 33.  ],
       [ 8.2 , 15.  ],
       [ 6.84, 19.  ],
       [ 7.37, 56.  ],
       [ 6.22,  6.  ],
       [ 6.61, 23.  ],
       [ 5.23, 46.  ],
       [ 7.21, 27.  ],
       [ 6.85,  3.  ],
       [ 6.19, 23.  ],
       [ 7.3 , 52.  ],
       [ 6.17, 17.  ],
       [ 5.89, 34.  ],
       [ 8.09, 19.  ],
       [ 7.11, 15.  ],
       [ 4.26, 35.  ],
       [ 6.94, 27.  ],
       [ 5.98, 52.  ],
       [ 6.71, 26.  ],
       [ 7.33, 55.  ],
       [ 9.06, 34.  ],
       [ 6.1 , 47.  ],
       [ 5.48, 86.  ],
       [ 6.1 , 44.  ],
       [ 7.56, 30.  ],
       [ 7.29, 39.  ],
       [ 5.84, 15.  ],
       [ 7.48, 29.  ]])

In [193]:
ytrain

array([[2.77],
       [2.35],
       [2.19],
       [3.42],
       [4.02],
       [3.89],
       [3.15],
       [3.99],
       [3.42],
       [3.08],
       [2.46],
       [2.61],
       [3.49],
       [3.76],
       [2.82],
       [4.03],
       [2.99],
       [2.73],
       [2.18],
       [3.09],
       [3.96],
       [2.1 ],
       [3.33],
       [4.62],
       [3.47],
       [2.48],
       [4.43],
       [4.11],
       [3.44],
       [3.18],
       [3.02],
       [4.06],
       [2.26],
       [1.48],
       [2.94],
       [2.89],
       [2.72],
       [3.09],
       [2.73],
       [4.36],
       [3.  ],
       [3.79],
       [2.59],
       [2.87],
       [3.57],
       [1.37],
       [3.6 ],
       [2.43],
       [3.33],
       [2.31],
       [3.4 ],
       [3.89],
       [4.25],
       [3.26],
       [3.67],
       [2.79],
       [3.64],
       [2.55],
       [2.48],
       [3.74],
       [3.28],
       [2.76],
       [2.3 ],
       [3.62],
       [3.23],
       [3.52]])

In [194]:
ytest

array([[4.1 ],
       [3.49],
       [2.08],
       [2.33],
       [1.94],
       [1.48],
       [1.86],
       [3.09],
       [4.21],
       [2.87],
       [3.65],
       [4.  ],
       [2.89],
       [2.6 ],
       [2.99],
       [3.25],
       [1.86],
       [3.67],
       [2.37],
       [3.42],
       [2.48],
       [3.65],
       [2.6 ],
       [2.83],
       [4.08],
       [2.56],
       [3.58],
       [3.81],
       [4.09],
       [2.01],
       [3.63],
       [2.92],
       [3.51],
       [1.94],
       [2.21],
       [3.34],
       [3.34],
       [3.23],
       [2.01],
       [2.61],
       [3.13],
       [3.91],
       [2.25],
       [2.3 ],
       [4.06],
       [3.18],
       [2.7 ],
       [2.49],
       [3.15],
       [2.99],
       [4.08],
       [4.14],
       [2.6 ],
       [2.44],
       [2.71],
       [2.72],
       [1.63],
       [2.31],
       [2.51],
       [3.5 ],
       [2.24],
       [2.58],
       [2.42],
       [2.54],
       [4.37],
       [2.17],
       [3.14],
       [2.19],
       [3.54],
       [1.54],
       [2.72],
       [3.98],
       [2.46],
       [3.  ],
       [1.98],
       [2.65],
       [3.75],
       [3.67],
       [2.93],
       [3.08],
       [2.21],
       [2.84],
       [3.76],
       [3.03],
       [2.09],
       [3.26],
       [2.16],
       [2.7 ],
       [3.83],
       [2.88],
       [3.16],
       [3.04],
       [3.13],
       [3.04],
       [4.6 ],
       [3.26],
       [2.85],
       [2.09],
       [3.31],
       [3.89],
       [1.87],
       [3.11],
       [2.4 ],
       [3.48],
       [3.08],
       [2.76],
       [2.93],
       [3.39],
       [2.35],
       [3.08],
       [2.14],
       [3.24],
       [1.73],
       [3.24],
       [3.44],
       [2.69],
       [3.33],
       [2.42],
       [2.57],
       [3.55],
       [2.66],
       [1.53],
       [2.98],
       [2.84],
       [3.52],
       [3.16],
       [3.82],
       [2.6 ],
       [1.61],
       [2.2 ],
       [2.99],
       [3.12],
       [2.74],
       [2.83]])

In [195]:
from sklearn.linear_model import LinearRegression

In [196]:
new=LinearRegression()

In [197]:
new.fit(xtrain,ytrain)

LinearRegression()

In [198]:
pred=new.predict(xtest)

In [200]:
ytest

array([[4.1 ],
       [3.49],
       [2.08],
       [2.33],
       [1.94],
       [1.48],
       [1.86],
       [3.09],
       [4.21],
       [2.87],
       [3.65],
       [4.  ],
       [2.89],
       [2.6 ],
       [2.99],
       [3.25],
       [1.86],
       [3.67],
       [2.37],
       [3.42],
       [2.48],
       [3.65],
       [2.6 ],
       [2.83],
       [4.08],
       [2.56],
       [3.58],
       [3.81],
       [4.09],
       [2.01],
       [3.63],
       [2.92],
       [3.51],
       [1.94],
       [2.21],
       [3.34],
       [3.34],
       [3.23],
       [2.01],
       [2.61],
       [3.13],
       [3.91],
       [2.25],
       [2.3 ],
       [4.06],
       [3.18],
       [2.7 ],
       [2.49],
       [3.15],
       [2.99],
       [4.08],
       [4.14],
       [2.6 ],
       [2.44],
       [2.71],
       [2.72],
       [1.63],
       [2.31],
       [2.51],
       [3.5 ],
       [2.24],
       [2.58],
       [2.42],
       [2.54],
       [4.37],
       [2.17],
       [3.14],
       [2.19],
       [3.54],
       [1.54],
       [2.72],
       [3.98],
       [2.46],
       [3.  ],
       [1.98],
       [2.65],
       [3.75],
       [3.67],
       [2.93],
       [3.08],
       [2.21],
       [2.84],
       [3.76],
       [3.03],
       [2.09],
       [3.26],
       [2.16],
       [2.7 ],
       [3.83],
       [2.88],
       [3.16],
       [3.04],
       [3.13],
       [3.04],
       [4.6 ],
       [3.26],
       [2.85],
       [2.09],
       [3.31],
       [3.89],
       [1.87],
       [3.11],
       [2.4 ],
       [3.48],
       [3.08],
       [2.76],
       [2.93],
       [3.39],
       [2.35],
       [3.08],
       [2.14],
       [3.24],
       [1.73],
       [3.24],
       [3.44],
       [2.69],
       [3.33],
       [2.42],
       [2.57],
       [3.55],
       [2.66],
       [1.53],
       [2.98],
       [2.84],
       [3.52],
       [3.16],
       [3.82],
       [2.6 ],
       [1.61],
       [2.2 ],
       [2.99],
       [3.12],
       [2.74],
       [2.83]])

In [201]:
pred

array([[3.90797849],
       [3.12833349],
       [2.41245742],
       [2.61744506],
       [1.7220859 ],
       [1.83664609],
       [2.13022131],
       [2.96214587],
       [3.77411859],
       [2.9768297 ],
       [4.1038681 ],
       [3.51877468],
       [3.00415688],
       [2.44381523],
       [3.21871062],
       [3.48400529],
       [1.98982224],
       [3.27823179],
       [3.01576345],
       [3.43378275],
       [2.60647407],
       [3.18267006],
       [2.90088547],
       [3.12559056],
       [3.70932942],
       [2.89755729],
       [3.52280531],
       [3.36867578],
       [3.92485307],
       [2.00771706],
       [3.66430802],
       [3.22859451],
       [3.7303849 ],
       [2.82500811],
       [2.82417193],
       [3.30087622],
       [3.54974783],
       [2.65368622],
       [2.70153395],
       [2.75066938],
       [3.10826446],
       [4.08841496],
       [2.17820277],
       [1.99642827],
       [3.46405345],
       [2.91454906],
       [2.97773274],
       [2.85746957],
       [3.53999768],
       [3.52870889],
       [3.97616271],
       [3.55257416],
       [2.83699934],
       [2.64502317],
       [2.79184421],
       [2.72956358],
       [2.00995813],
       [2.54156771],
       [2.99761771],
       [3.06412957],
       [2.46709524],
       [2.50975837],
       [2.40635324],
       [2.45254515],
       [4.30559443],
       [2.27351357],
       [3.51941026],
       [2.56953047],
       [3.46283262],
       [1.86743518],
       [2.59955025],
       [3.90195772],
       [2.53681809],
       [3.14315105],
       [2.0127176 ],
       [3.24995123],
       [3.71921331],
       [3.72787636],
       [3.11935265],
       [3.22198847],
       [2.31751473],
       [2.49550953],
       [3.5883638 ],
       [3.11134172],
       [2.68402379],
       [2.98234863],
       [2.17320223],
       [2.73220585],
       [3.39928082],
       [3.24963344],
       [3.18690129],
       [2.46062294],
       [3.24642246],
       [2.99838702],
       [4.12651254],
       [3.24244216],
       [3.07516743],
       [2.16062575],
       [3.3453289 ],
       [3.70131849],
       [2.39026451],
       [2.9235299 ],
       [3.15398831],
       [3.20190291],
       [2.92628937],
       [2.56638635],
       [2.95784778],
       [3.7008001 ],
       [2.95778091],
       [3.23250794],
       [2.62475355],
       [2.83084483],
       [2.06961303],
       [3.15642998],
       [2.96938748],
       [2.60185819],
       [3.19588213],
       [2.593262  ],
       [2.43406507],
       [3.63928878],
       [3.10652524],
       [1.54499415],
       [3.00922428],
       [2.47620982],
       [2.88421149],
       [3.21108435],
       [4.16236904],
       [2.54355786],
       [2.19052833],
       [2.54471183],
       [3.34609822],
       [3.1954306 ],
       [2.41411324],
       [3.30286637]])

# evaluvation

In [203]:
from sklearn.metrics import r2_score

In [204]:
r2_score(ytest,pred)

0.7721239247144759

In [206]:
from sklearn.metrics import mean_squared_error

In [211]:
a=mean_squared_error(ytest,pred)
a

0.10453948207164637

In [209]:
import math

In [212]:
np.sqrt(a)

0.323325659469901

# build owr own regression

In [260]:
class pooja:
    def __init__(self):
        self.m=None
        self.b=None
    def fit(self,xtrain,ytrain):
        den=0
        num=0
        for i in range(xtrain.shape[0]):
            num=num+((xtrain[i]+xtrain.mean())*(ytrain[i]+ytest.mean()))
            den=den+((ytrain[i]+ytrain.mean())*(ytrain[i]+ytest.mean()))
        self.m=num/den
        self.b=xtrain.mean()+(self.m*ytrain.mean())
        print(self.m)
        print(self.b)
    def predict(self,xtest):
        print(xtest)
        return self.m*xtest+self.b

In [261]:
a=pd.read_csv("dataset/place.csv")

In [262]:
a

     cgpa  package
0    6.89     3.26
1    5.12     1.98
2    7.82     3.25
3    7.42     3.67
4    6.94     3.57
..    ...      ...
195  6.93     2.46
196  5.89     2.57
197  7.21     3.24
198  7.63     3.96
199  6.22     2.33

[200 rows x 2 columns]

In [263]:
x=a.iloc[:,0:1].values

In [264]:
x

array([[6.89],
       [5.12],
       [7.82],
       [7.42],
       [6.94],
       [7.89],
       [6.73],
       [6.75],
       [6.09],
       [8.31],
       [5.32],
       [6.61],
       [8.94],
       [6.93],
       [7.73],
       [7.25],
       [6.84],
       [5.38],
       [6.94],
       [7.48],
       [7.28],
       [6.85],
       [6.14],
       [6.19],
       [6.53],
       [7.28],
       [8.31],
       [5.42],
       [5.94],
       [7.15],
       [7.36],
       [8.1 ],
       [6.96],
       [6.35],
       [7.34],
       [6.87],
       [5.99],
       [5.9 ],
       [8.62],
       [7.43],
       [9.38],
       [6.89],
       [5.95],
       [7.66],
       [5.09],
       [7.87],
       [6.07],
       [5.84],
       [8.63],
       [8.87],
       [9.58],
       [9.26],
       [8.37],
       [6.47],
       [6.86],
       [8.2 ],
       [5.84],
       [6.6 ],
       [6.92],
       [7.56],
       [5.61],
       [5.48],
       [6.34],
       [9.16],
       [7.36],
       [7.6 ],
       [5.11],
       [6.51],
       [7.56],
       [7.3 ],
       [5.79],
       [7.47],
       [7.78],
       [8.44],
       [6.85],
       [6.97],
       [6.94],
       [8.99],
       [6.59],
       [7.18],
       [7.63],
       [6.1 ],
       [5.58],
       [8.44],
       [4.26],
       [4.79],
       [7.61],
       [8.09],
       [4.73],
       [6.42],
       [7.11],
       [6.22],
       [7.9 ],
       [6.79],
       [5.83],
       [6.63],
       [7.11],
       [5.98],
       [7.69],
       [6.61],
       [7.95],
       [6.71],
       [5.13],
       [7.05],
       [7.62],
       [6.66],
       [6.13],
       [6.33],
       [7.76],
       [7.77],
       [8.18],
       [5.42],
       [8.58],
       [6.94],
       [5.84],
       [8.35],
       [9.04],
       [7.12],
       [7.4 ],
       [7.39],
       [5.23],
       [6.5 ],
       [5.12],
       [5.1 ],
       [6.06],
       [7.33],
       [5.91],
       [6.78],
       [7.93],
       [7.29],
       [6.68],
       [6.37],
       [5.84],
       [6.05],
       [7.2 ],
       [6.1 ],
       [5.64],
       [7.14],
       [7.91],
       [7.19],
       [7.91],
       [6.76],
       [6.93],
       [4.85],
       [6.17],
       [5.84],
       [6.07],
       [5.66],
       [7.57],
       [8.28],
       [6.3 ],
       [6.12],
       [7.37],
       [7.94],
       [7.08],
       [6.98],
       [7.38],
       [6.47],
       [5.95],
       [8.71],
       [7.13],
       [7.3 ],
       [5.53],
       [8.93],
       [9.06],
       [8.21],
       [8.6 ],
       [8.13],
       [8.65],
       [9.31],
       [6.22],
       [8.01],
       [6.93],
       [6.75],
       [7.32],
       [7.04],
       [6.29],
       [7.09],
       [8.15],
       [7.14],
       [6.19],
       [8.22],
       [5.88],
       [7.28],
       [7.88],
       [6.31],
       [7.84],
       [6.26],
       [7.35],
       [8.11],
       [6.19],
       [7.28],
       [8.25],
       [4.57],
       [7.89],
       [6.93],
       [5.89],
       [7.21],
       [7.63],
       [6.22]])

In [265]:
y=a.iloc[:,1:2].values

In [266]:
y

array([[3.26],
       [1.98],
       [3.25],
       [3.67],
       [3.57],
       [2.99],
       [2.6 ],
       [2.48],
       [2.31],
       [3.51],
       [1.86],
       [2.6 ],
       [3.65],
       [2.89],
       [3.42],
       [3.23],
       [2.35],
       [2.09],
       [2.98],
       [2.83],
       [3.16],
       [2.93],
       [2.3 ],
       [2.48],
       [2.71],
       [3.65],
       [3.42],
       [2.16],
       [2.24],
       [3.49],
       [3.26],
       [3.89],
       [3.08],
       [2.73],
       [3.42],
       [2.87],
       [2.84],
       [2.43],
       [4.36],
       [3.33],
       [4.02],
       [2.7 ],
       [2.54],
       [2.76],
       [1.86],
       [3.58],
       [2.26],
       [3.26],
       [4.09],
       [4.62],
       [4.43],
       [3.79],
       [4.11],
       [2.61],
       [3.09],
       [3.39],
       [2.74],
       [1.94],
       [3.09],
       [3.31],
       [2.19],
       [1.61],
       [2.09],
       [4.25],
       [2.92],
       [3.81],
       [1.63],
       [2.89],
       [2.99],
       [2.94],
       [2.35],
       [3.34],
       [3.62],
       [4.03],
       [3.44],
       [3.28],
       [3.15],
       [4.6 ],
       [2.21],
       [3.  ],
       [3.44],
       [2.2 ],
       [2.17],
       [3.49],
       [1.53],
       [1.48],
       [2.77],
       [3.55],
       [1.48],
       [2.72],
       [2.66],
       [2.14],
       [4.  ],
       [3.08],
       [2.42],
       [2.79],
       [2.61],
       [2.84],
       [3.83],
       [3.24],
       [4.14],
       [3.52],
       [1.37],
       [3.  ],
       [3.74],
       [2.82],
       [2.19],
       [2.59],
       [3.54],
       [4.06],
       [3.76],
       [2.25],
       [4.1 ],
       [2.37],
       [1.87],
       [4.21],
       [3.33],
       [2.99],
       [2.88],
       [2.65],
       [1.73],
       [3.02],
       [2.01],
       [2.3 ],
       [2.31],
       [3.16],
       [2.6 ],
       [3.11],
       [3.34],
       [3.12],
       [2.49],
       [2.01],
       [2.48],
       [2.58],
       [2.83],
       [2.6 ],
       [2.1 ],
       [3.13],
       [3.89],
       [2.4 ],
       [3.15],
       [3.18],
       [3.04],
       [1.54],
       [2.42],
       [2.18],
       [2.46],
       [2.21],
       [3.4 ],
       [3.67],
       [2.73],
       [2.76],
       [3.08],
       [3.99],
       [2.85],
       [3.09],
       [3.13],
       [2.7 ],
       [3.04],
       [4.08],
       [2.93],
       [3.33],
       [2.55],
       [3.91],
       [3.82],
       [4.08],
       [3.98],
       [3.6 ],
       [3.52],
       [4.37],
       [2.87],
       [3.76],
       [2.51],
       [2.56],
       [2.99],
       [3.5 ],
       [3.23],
       [3.64],
       [3.63],
       [3.03],
       [2.72],
       [3.89],
       [2.08],
       [2.72],
       [3.14],
       [3.18],
       [3.47],
       [2.44],
       [3.08],
       [4.06],
       [2.69],
       [3.48],
       [3.75],
       [1.94],
       [3.67],
       [2.46],
       [2.57],
       [3.24],
       [3.96],
       [2.33]])

In [267]:
from sklearn.model_selection import train_test_split

In [268]:
xtrain,xtest,ytrain,ytest=train_test_split(x,y,train_size=2/3,random_state=1)

In [269]:
new=pooja()

In [270]:
new.fit(xtrain,ytrain)

[2.33192142]
[13.94506346]

In [274]:
pred=new.predict(xtest)
pred

[[6.92]
 [9.38]
 [7.34]
 [5.13]
 [7.88]
 [7.63]
 [6.63]
 [6.94]
 [7.15]
 [8.65]
 [8.01]
 [6.94]
 [6.61]
 [6.42]
 [8.18]
 [7.4 ]
 [8.71]
 [6.87]
 [5.64]
 [7.56]
 [9.26]
 [6.84]
 [5.09]
 [5.83]
 [8.1 ]
 [5.53]
 [8.62]
 [5.94]
 [4.57]
 [5.42]
 [5.84]
 [8.21]
 [7.89]
 [7.09]
 [6.29]
 [5.98]
 [7.32]
 [8.44]
 [7.3 ]
 [6.93]
 [7.76]
 [6.33]
 [8.11]
 [7.73]
 [5.84]
 [7.48]
 [5.84]
 [7.43]
 [6.31]
 [6.06]
 [7.69]
 [5.1 ]
 [7.39]
 [6.47]
 [6.35]
 [7.14]
 [8.22]
 [6.13]
 [6.22]
 [7.91]
 [9.04]
 [6.51]
 [6.59]
 [5.95]
 [5.38]
 [7.89]
 [6.78]]

array([[30.0819597 ],
       [35.8184864 ],
       [31.0613667 ],
       [25.90782036],
       [32.32060427],
       [31.73762391],
       [29.40570249],
       [30.12859813],
       [30.61830163],
       [34.11618377],
       [32.62375406],
       [30.12859813],
       [29.35906406],
       [28.91599899],
       [33.0201807 ],
       [31.20128199],
       [34.25609905],
       [29.96536363],
       [27.09710028],
       [31.57438942],
       [35.53865583],
       [29.89540599],
       [25.8145435 ],
       [27.54016535],
       [32.83362698],
       [26.84058893],
       [34.04622612],
       [27.79667671],
       [24.60194436],
       [26.58407757],
       [27.56348457],
       [33.09013834],
       [32.34392348],
       [30.47838635],
       [28.61284921],
       [27.88995357],
       [31.01472827],
       [33.62648027],
       [30.96808985],
       [30.10527892],
       [32.0407737 ],
       [28.70612607],
       [32.8569462 ],
       [31.97081606],
       [27.56348457],
       [31.3878357 ],
       [27.56348457],
       [31.27123963],
       [28.65948764],
       [28.07650728],
       [31.8775392 ],
       [25.83786272],
       [31.17796277],
       [29.03259506],
       [28.75276449],
       [30.59498242],
       [33.11345755],
       [28.23974178],
       [28.44961471],
       [32.39056191],
       [35.02563312],
       [29.12587192],
       [29.31242564],
       [27.81999592],
       [26.49080071],
       [32.34392348],
       [29.75549071]])

In [273]:
ytest

array([[3.09],
       [4.02],
       [3.42],
       [1.37],
       [3.14],
       [3.96],
       [2.79],
       [3.57],
       [3.49],
       [3.52],
       [3.76],
       [2.98],
       [2.6 ],
       [2.72],
       [3.76],
       [2.88],
       [4.08],
       [2.87],
       [2.1 ],
       [3.31],
       [3.79],
       [2.35],
       [1.86],
       [2.42],
       [3.89],
       [2.55],
       [4.36],
       [2.24],
       [1.94],
       [2.16],
       [3.26],
       [4.08],
       [3.67],
       [3.64],
       [3.23],
       [2.84],
       [2.99],
       [4.03],
       [2.94],
       [2.51],
       [3.54],
       [2.59],
       [4.06],
       [3.42],
       [2.74],
       [2.83],
       [1.87],
       [3.33],
       [3.18],
       [2.31],
       [3.83],
       [2.3 ],
       [2.65],
       [2.61],
       [2.73],
       [3.03],
       [3.89],
       [2.19],
       [2.33],
       [3.89],
       [3.33],
       [2.89],
       [2.21],
       [2.54],
       [2.09],
       [2.99],
       [3.11]])

In [287]:
ab=pd.read_csv("dataset/place.csv")

In [288]:
ab

     cgpa  package
0    6.89     3.26
1    5.12     1.98
2    7.82     3.25
3    7.42     3.67
4    6.94     3.57
..    ...      ...
195  6.93     2.46
196  5.89     2.57
197  7.21     3.24
198  7.63     3.96
199  6.22     2.33

[200 rows x 2 columns]

In [289]:
x1=ab.iloc[:,0:1].values
x1

array([[6.89],
       [5.12],
       [7.82],
       [7.42],
       [6.94],
       [7.89],
       [6.73],
       [6.75],
       [6.09],
       [8.31],
       [5.32],
       [6.61],
       [8.94],
       [6.93],
       [7.73],
       [7.25],
       [6.84],
       [5.38],
       [6.94],
       [7.48],
       [7.28],
       [6.85],
       [6.14],
       [6.19],
       [6.53],
       [7.28],
       [8.31],
       [5.42],
       [5.94],
       [7.15],
       [7.36],
       [8.1 ],
       [6.96],
       [6.35],
       [7.34],
       [6.87],
       [5.99],
       [5.9 ],
       [8.62],
       [7.43],
       [9.38],
       [6.89],
       [5.95],
       [7.66],
       [5.09],
       [7.87],
       [6.07],
       [5.84],
       [8.63],
       [8.87],
       [9.58],
       [9.26],
       [8.37],
       [6.47],
       [6.86],
       [8.2 ],
       [5.84],
       [6.6 ],
       [6.92],
       [7.56],
       [5.61],
       [5.48],
       [6.34],
       [9.16],
       [7.36],
       [7.6 ],
       [5.11],
       [6.51],
       [7.56],
       [7.3 ],
       [5.79],
       [7.47],
       [7.78],
       [8.44],
       [6.85],
       [6.97],
       [6.94],
       [8.99],
       [6.59],
       [7.18],
       [7.63],
       [6.1 ],
       [5.58],
       [8.44],
       [4.26],
       [4.79],
       [7.61],
       [8.09],
       [4.73],
       [6.42],
       [7.11],
       [6.22],
       [7.9 ],
       [6.79],
       [5.83],
       [6.63],
       [7.11],
       [5.98],
       [7.69],
       [6.61],
       [7.95],
       [6.71],
       [5.13],
       [7.05],
       [7.62],
       [6.66],
       [6.13],
       [6.33],
       [7.76],
       [7.77],
       [8.18],
       [5.42],
       [8.58],
       [6.94],
       [5.84],
       [8.35],
       [9.04],
       [7.12],
       [7.4 ],
       [7.39],
       [5.23],
       [6.5 ],
       [5.12],
       [5.1 ],
       [6.06],
       [7.33],
       [5.91],
       [6.78],
       [7.93],
       [7.29],
       [6.68],
       [6.37],
       [5.84],
       [6.05],
       [7.2 ],
       [6.1 ],
       [5.64],
       [7.14],
       [7.91],
       [7.19],
       [7.91],
       [6.76],
       [6.93],
       [4.85],
       [6.17],
       [5.84],
       [6.07],
       [5.66],
       [7.57],
       [8.28],
       [6.3 ],
       [6.12],
       [7.37],
       [7.94],
       [7.08],
       [6.98],
       [7.38],
       [6.47],
       [5.95],
       [8.71],
       [7.13],
       [7.3 ],
       [5.53],
       [8.93],
       [9.06],
       [8.21],
       [8.6 ],
       [8.13],
       [8.65],
       [9.31],
       [6.22],
       [8.01],
       [6.93],
       [6.75],
       [7.32],
       [7.04],
       [6.29],
       [7.09],
       [8.15],
       [7.14],
       [6.19],
       [8.22],
       [5.88],
       [7.28],
       [7.88],
       [6.31],
       [7.84],
       [6.26],
       [7.35],
       [8.11],
       [6.19],
       [7.28],
       [8.25],
       [4.57],
       [7.89],
       [6.93],
       [5.89],
       [7.21],
       [7.63],
       [6.22]])

In [291]:
y1=ab.iloc[:,1:2]
y1

     package
0       3.26
1       1.98
2       3.25
3       3.67
4       3.57
..       ...
195     2.46
196     2.57
197     3.24
198     3.96
199     2.33

[200 rows x 1 columns]

In [292]:
from sklearn.model_selection import train_test_split

In [293]:
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=1/2,random_state=1)

In [312]:
from sklearn.ensemble import RandomForestRegressor

In [313]:
new=RandomForestRegressor()

In [314]:
new.fit(xtrain,ytrain)

C:\Users\Hp\AppData\Local\Temp\ipykernel_11592\2300289395.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  new.fit(xtrain,ytrain)

RandomForestRegressor()

In [318]:
pred=new.predict(xtest)

In [319]:
pred

array([2.95867472, 4.27185226, 3.17504323, 1.80725567, 3.43448023,
       3.31212362, 2.79570537, 2.96961692, 3.0807337 , 3.93694298,
       3.50424781, 2.96961692, 2.78433407, 2.67696751, 3.60511806,
       3.20380166, 3.98090294, 2.93108948, 2.2129698 , 3.27920783,
       4.26283172, 2.91439644, 1.77758659, 2.34123735, 3.55616819,
       2.13040696, 3.91473574, 2.40822028, 1.61601255, 2.04260637,
       2.34751766, 3.62417341, 3.43965495, 3.04973372, 2.60467061,
       2.43159474, 3.16536422, 3.78195371, 3.15563307, 2.96415274,
       3.37436087, 2.62681666, 3.56213964, 3.35979756, 2.34751766,
       3.24164775, 2.34751766, 3.21804825, 2.61573452, 2.47721951,
       3.34059185, 1.78487592, 3.19903487, 2.70504674, 2.63791961,
       3.07560973, 3.6306097 , 2.51630897, 2.56603915, 3.4500929 ,
       4.18859833, 2.72761539, 2.7729675 , 2.41410581, 2.00978577,
       3.43965495, 2.88074644, 2.81276302, 3.92214876, 1.79225343,
       2.92553613, 1.79135926, 3.14584676, 2.41410581, 3.89988902,
       2.96961692, 4.13474364, 3.06531061, 2.88637606, 1.88610996,
       3.0445073 , 3.06013541, 2.49962417, 1.79971478, 3.14584676,
       2.96415274, 2.16867028, 2.34751766, 2.58810181, 3.42933395,
       2.78433407, 2.43737262, 3.15563307, 3.41405748, 3.46598282,
       3.02872652, 2.96415274, 3.11112409, 3.28390031, 2.86381542])

In [315]:
from sklearn.svm import SVR

In [316]:
new=SVR()

In [317]:
new.fit(xtrain,ytrain)

C:\Users\Hp\anaconda3\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SVR()

In [320]:
pred=new.predict(xtest)

In [323]:
ytest.values

array([[3.09],
       [4.02],
       [3.42],
       [1.37],
       [3.14],
       [3.96],
       [2.79],
       [3.57],
       [3.49],
       [3.52],
       [3.76],
       [2.98],
       [2.6 ],
       [2.72],
       [3.76],
       [2.88],
       [4.08],
       [2.87],
       [2.1 ],
       [3.31],
       [3.79],
       [2.35],
       [1.86],
       [2.42],
       [3.89],
       [2.55],
       [4.36],
       [2.24],
       [1.94],
       [2.16],
       [3.26],
       [4.08],
       [3.67],
       [3.64],
       [3.23],
       [2.84],
       [2.99],
       [4.03],
       [2.94],
       [2.51],
       [3.54],
       [2.59],
       [4.06],
       [3.42],
       [2.74],
       [2.83],
       [1.87],
       [3.33],
       [3.18],
       [2.31],
       [3.83],
       [2.3 ],
       [2.65],
       [2.61],
       [2.73],
       [3.03],
       [3.89],
       [2.19],
       [2.33],
       [3.89],
       [3.33],
       [2.89],
       [2.21],
       [2.54],
       [2.09],
       [2.99],
       [3.11],
       [2.82],
       [4.09],
       [1.63],
       [3.09],
       [1.53],
       [2.72],
       [3.04],
       [3.98],
       [2.37],
       [3.65],
       [2.99],
       [3.08],
       [1.73],
       [2.85],
       [2.66],
       [2.2 ],
       [2.01],
       [3.48],
       [2.89],
       [2.17],
       [2.48],
       [2.44],
       [3.58],
       [3.24],
       [2.84],
       [3.33],
       [3.47],
       [3.99],
       [3.  ],
       [2.46],
       [3.24],
       [3.4 ],
       [2.56]])

In [321]:
pred

array([2.95867472, 4.27185226, 3.17504323, 1.80725567, 3.43448023,
       3.31212362, 2.79570537, 2.96961692, 3.0807337 , 3.93694298,
       3.50424781, 2.96961692, 2.78433407, 2.67696751, 3.60511806,
       3.20380166, 3.98090294, 2.93108948, 2.2129698 , 3.27920783,
       4.26283172, 2.91439644, 1.77758659, 2.34123735, 3.55616819,
       2.13040696, 3.91473574, 2.40822028, 1.61601255, 2.04260637,
       2.34751766, 3.62417341, 3.43965495, 3.04973372, 2.60467061,
       2.43159474, 3.16536422, 3.78195371, 3.15563307, 2.96415274,
       3.37436087, 2.62681666, 3.56213964, 3.35979756, 2.34751766,
       3.24164775, 2.34751766, 3.21804825, 2.61573452, 2.47721951,
       3.34059185, 1.78487592, 3.19903487, 2.70504674, 2.63791961,
       3.07560973, 3.6306097 , 2.51630897, 2.56603915, 3.4500929 ,
       4.18859833, 2.72761539, 2.7729675 , 2.41410581, 2.00978577,
       3.43965495, 2.88074644, 2.81276302, 3.92214876, 1.79225343,
       2.92553613, 1.79135926, 3.14584676, 2.41410581, 3.89988902,
       2.96961692, 4.13474364, 3.06531061, 2.88637606, 1.88610996,
       3.0445073 , 3.06013541, 2.49962417, 1.79971478, 3.14584676,
       2.96415274, 2.16867028, 2.34751766, 2.58810181, 3.42933395,
       2.78433407, 2.43737262, 3.15563307, 3.41405748, 3.46598282,
       3.02872652, 2.96415274, 3.11112409, 3.28390031, 2.86381542])

In [324]:
from sklearn.linear_model import Lasso

In [325]:
new=Lasso()

In [326]:
new.fit(xtrain,ytrain)

Lasso()

In [327]:
pred=new.predict(xtest)

In [328]:
pred

array([3.0154, 3.0154, 3.0154, 3.0154, 3.0154, 3.0154, 3.0154, 3.0154,
       3.0154, 3.0154, 3.0154, 3.0154, 3.0154, 3.0154, 3.0154, 3.0154,
       3.0154, 3.0154, 3.0154, 3.0154, 3.0154, 3.0154, 3.0154, 3.0154,
       3.0154, 3.0154, 3.0154, 3.0154, 3.0154, 3.0154, 3.0154, 3.0154,
       3.0154, 3.0154, 3.0154, 3.0154, 3.0154, 3.0154, 3.0154, 3.0154,
       3.0154, 3.0154, 3.0154, 3.0154, 3.0154, 3.0154, 3.0154, 3.0154,
       3.0154, 3.0154, 3.0154, 3.0154, 3.0154, 3.0154, 3.0154, 3.0154,
       3.0154, 3.0154, 3.0154, 3.0154, 3.0154, 3.0154, 3.0154, 3.0154,
       3.0154, 3.0154, 3.0154, 3.0154, 3.0154, 3.0154, 3.0154, 3.0154,
       3.0154, 3.0154, 3.0154, 3.0154, 3.0154, 3.0154, 3.0154, 3.0154,
       3.0154, 3.0154, 3.0154, 3.0154, 3.0154, 3.0154, 3.0154, 3.0154,
       3.0154, 3.0154, 3.0154, 3.0154, 3.0154, 3.0154, 3.0154, 3.0154,
       3.0154, 3.0154, 3.0154, 3.0154])

In [330]:
ytest.values

array([[3.09],
       [4.02],
       [3.42],
       [1.37],
       [3.14],
       [3.96],
       [2.79],
       [3.57],
       [3.49],
       [3.52],
       [3.76],
       [2.98],
       [2.6 ],
       [2.72],
       [3.76],
       [2.88],
       [4.08],
       [2.87],
       [2.1 ],
       [3.31],
       [3.79],
       [2.35],
       [1.86],
       [2.42],
       [3.89],
       [2.55],
       [4.36],
       [2.24],
       [1.94],
       [2.16],
       [3.26],
       [4.08],
       [3.67],
       [3.64],
       [3.23],
       [2.84],
       [2.99],
       [4.03],
       [2.94],
       [2.51],
       [3.54],
       [2.59],
       [4.06],
       [3.42],
       [2.74],
       [2.83],
       [1.87],
       [3.33],
       [3.18],
       [2.31],
       [3.83],
       [2.3 ],
       [2.65],
       [2.61],
       [2.73],
       [3.03],
       [3.89],
       [2.19],
       [2.33],
       [3.89],
       [3.33],
       [2.89],
       [2.21],
       [2.54],
       [2.09],
       [2.99],
       [3.11],
       [2.82],
       [4.09],
       [1.63],
       [3.09],
       [1.53],
       [2.72],
       [3.04],
       [3.98],
       [2.37],
       [3.65],
       [2.99],
       [3.08],
       [1.73],
       [2.85],
       [2.66],
       [2.2 ],
       [2.01],
       [3.48],
       [2.89],
       [2.17],
       [2.48],
       [2.44],
       [3.58],
       [3.24],
       [2.84],
       [3.33],
       [3.47],
       [3.99],
       [3.  ],
       [2.46],
       [3.24],
       [3.4 ],
       [2.56]])

# Decision tree

In [447]:
pooja=pd.read_csv("dataset/Social_Network_Ads.csv")

In [448]:
pooja

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

In [449]:
x2=pooja.iloc[:,[2,3]]

In [450]:
x2

     Age  EstimatedSalary
0     19            19000
1     35            20000
2     26            43000
3     27            57000
4     19            76000
..   ...              ...
395   46            41000
396   51            23000
397   50            20000
398   36            33000
399   49            36000

[400 rows x 2 columns]

In [451]:
y2=pooja.iloc[:,4:5]

In [452]:
y2

     Purchased
0            0
1            0
2            0
3            0
4            0
..         ...
395          1
396          1
397          1
398          0
399          1

[400 rows x 1 columns]

In [453]:
from sklearn.model_selection import train_test_split

In [454]:
xtrain,xtest,ytrain,ytest=train_test_split(x2,y2,test_size=1/3,random_state=0)

In [455]:
xtrain

     Age  EstimatedSalary
218   46            96000
101   28            59000
311   39            96000
194   28            89000
326   41            72000
..   ...              ...
323   48            30000
192   29            43000
117   36            52000
47    27            54000
172   26           118000

[266 rows x 2 columns]

In [456]:
ytrain

     Purchased
218          0
101          0
311          1
194          0
326          0
..         ...
323          1
192          0
117          0
47           0
172          0

[266 rows x 1 columns]

In [457]:
from sklearn.preprocessing import StandardScaler

In [458]:
new=StandardScaler()

In [459]:
xtrain=new.fit_transform(xtrain)

In [460]:
xtrain

array([[ 0.81203707,  0.7926083 ],
       [-0.96332069, -0.30625786],
       [ 0.12162016,  0.7926083 ],
       [-0.96332069,  0.5847147 ],
       [ 0.31888214,  0.07983025],
       [ 0.71340608, -1.28632769],
       [-0.47016576, -0.00926701],
       [-1.75236858,  0.3768211 ],
       [-0.66742773,  0.13922842],
       [ 0.41751312,  0.31742293],
       [-0.27290378,  0.07983025],
       [-0.47016576,  2.36665983],
       [ 0.22025115,  0.05013116],
       [ 1.30519201,  2.27756258],
       [ 0.81203707,  0.28772385],
       [-0.27290378,  0.16892751],
       [ 0.02298918, -0.54385055],
       [-0.1742728 ,  0.16892751],
       [-0.07564181,  0.25802476],
       [ 0.02298918, -0.24685969],
       [ 2.19287089,  1.14899733],
       [-1.75236858,  0.3768211 ],
       [ 1.89697793,  0.13922842],
       [ 0.41751312, -0.12806335],
       [-1.16058266,  0.31742293],
       [ 0.81203707,  1.4162891 ],
       [-0.27290378, -0.24685969],
       [-1.6537376 , -0.03896609],
       [-0.96332069, -0.75174415],
       [ 0.31888214,  0.52531653],
       [-0.07564181, -1.07843409],
       [-1.06195168,  0.61441379],
       [ 0.12162016, -0.81114232],
       [-0.96332069,  1.59448361],
       [-0.66742773,  1.44598818],
       [-1.25921365,  0.52531653],
       [-0.27290378,  0.05013116],
       [-0.07564181,  0.02043208],
       [-0.27290378, -0.90023957],
       [ 0.91066806, -1.37542494],
       [-0.27290378,  2.30726166],
       [ 1.00929905,  2.03996989],
       [-1.16058266,  0.49561745],
       [-1.25921365,  0.28772385],
       [ 1.40382299,  2.03996989],
       [ 1.30519201, -1.37542494],
       [-0.27290378, -0.27655878],
       [-0.47016576,  1.29749276],
       [-0.76605872,  1.11929824],
       [ 1.00929905, -1.07843409],
       [ 0.31888214,  0.31742293],
       [ 1.00929905,  0.7926083 ],
       [-0.66742773, -1.52392037],
       [-0.66742773,  0.05013116],
       [ 0.51614411,  1.77267812],
       [ 2.0942399 ,  0.19862659],
       [-1.94963056, -0.75174415],
       [-0.1742728 ,  1.44598818],
       [ 0.41751312,  0.61441379],
       [ 0.91066806, -1.16753134],
       [-1.16058266, -0.78144323],
       [ 0.22025115,  0.25802476],
       [ 0.81203707, -0.30625786],
       [ 2.0942399 , -0.81114232],
       [ 0.81203707,  0.13922842],
       [-0.27290378,  0.64411287],
       [-0.96332069, -0.30625786],
       [ 0.22025115, -0.36565603],
       [ 2.0942399 ,  2.18846532],
       [ 1.89697793, -1.28632769],
       [ 1.40382299, -0.92993866],
       [ 0.91066806,  1.29749276],
       [ 1.50245398,  2.18846532],
       [-0.27290378, -1.2566286 ],
       [ 1.99560891,  0.94110373],
       [ 0.71340608, -0.72204506],
       [-1.45647562,  0.3768211 ],
       [ 0.81203707, -1.37542494],
       [ 0.41751312, -0.12806335],
       [-0.96332069,  0.43621927],
       [ 0.02298918, -0.30625786],
       [-1.16058266,  0.43621927],
       [-0.8646897 , -1.22692951],
       [-0.07564181,  0.05013116],
       [-1.55510661, -0.42505421],
       [ 1.00929905, -1.01903592],
       [ 1.10793003, -1.22692951],
       [ 0.02298918, -0.12806335],
       [-1.06195168, -1.55361946],
       [ 0.81203707, -1.22692951],
       [ 1.00929905,  2.12906715],
       [-1.16058266, -1.55361946],
       [-0.27290378,  0.82230739],
       [ 0.12162016, -0.30625786],
       [-1.35784464, -1.2566286 ],
       [-0.56879674, -1.52392037],
       [ 0.81203707,  0.55501562],
       [-0.27290378, -0.33595695],
       [ 1.79834694, -0.27655878],
       [ 0.91066806, -1.048735  ],
       [ 0.22025115,  0.07983025],
       [-0.56879674,  0.91140464],
       [-1.85099957, -1.43482311],
       [-1.25921365,  0.61441379],
       [-0.27290378,  0.55501562],
       [-0.96332069, -1.10813317],
       [ 1.20656102, -1.4645222 ],
       [ 0.22025115, -0.30625786],
       [ 1.20656102, -0.75174415],
       [-0.27290378,  0.07983025],
       [ 0.22025115,  2.15876624],
       [ 0.81203707, -1.10813317],
       [ 0.12162016,  0.05013116],
       [-1.75236858,  0.13922842],
       [-0.8646897 ,  0.16892751],
       [-0.66742773,  0.19862659],
       [ 0.91066806, -1.31602677],
       [ 0.22025115, -0.24685969],
       [-0.37153477,  1.26779367],
       [ 0.02298918,  0.31742293],
       [ 0.41751312,  0.16892751],
       [ 0.91066806, -0.66264689],
       [ 0.12162016,  0.16892751],
       [-1.85099957, -1.31602677],
       [-0.07564181,  0.31742293],
       [-0.1742728 , -0.27655878],
       [ 0.31888214, -0.51415146],
       [-0.1742728 ,  1.65388178],
       [ 1.00929905, -1.19723043],
       [-0.1742728 ,  1.68358087],
       [ 1.30519201,  1.92117355],
       [-1.06195168, -0.36565603],
       [ 0.02298918,  0.05013116],
       [ 0.12162016, -0.24685969],
       [-1.55510661, -1.2566286 ],
       [-0.47016576, -0.27655878],
       [ 1.00929905,  0.13922842],
       [ 1.99560891, -1.37542494],
       [ 1.50245398,  0.07983025],
       [-0.56879674,  1.4162891 ],
       [ 1.60108497,  0.02043208],
       [-0.76605872,  0.31742293],
       [ 1.99560891,  0.76290922],
       [-1.16058266, -0.51415146],
       [ 0.71340608,  0.28772385],
       [-1.35784464, -0.42505421],
       [ 0.22025115,  0.16892751],
       [-0.47016576, -1.22692951],
       [ 0.6147751 ,  2.06966898],
       [-1.55510661, -1.52392037],
       [-0.47016576, -0.54385055],
       [ 0.51614411,  1.89147447],
       [-1.35784464, -1.10813317],
       [ 0.81203707, -1.40512403],
       [-0.27290378, -0.42505421],
       [ 1.60108497,  1.03020099],
       [ 1.00929905,  1.47568727],
       [-0.27290378, -0.48445238],
       [-0.07564181,  2.21816441],
       [-1.45647562, -0.09836426],
       [-0.07564181,  2.01027081],
       [-0.66742773, -0.33595695],
       [-0.47016576, -0.8408414 ],
       [ 0.71340608, -1.40512403],
       [-0.76605872, -1.61301763],
       [-1.85099957, -1.49422128],
       [ 1.10793003,  0.13922842],
       [ 0.12162016,  1.56478452],
       [-0.27290378,  0.10952933],
       [ 0.12162016,  0.05013116],
       [-1.35784464, -1.37542494],
       [ 0.31888214,  0.07983025],
       [-0.8646897 ,  0.40652019],
       [ 1.60108497, -1.28632769],
       [-0.27290378, -0.75174415],
       [-0.07564181,  0.16892751],
       [-0.8646897 , -0.66264689],
       [-0.66742773, -0.03896609],
       [ 0.41751312, -0.45475329],
       [-0.76605872,  1.95087264],
       [ 1.40382299,  1.32719184],
       [ 1.20656102, -0.98933683],
       [ 1.79834694,  1.89147447],
       [-0.8646897 , -0.24685969],
       [-0.76605872,  0.5847147 ],
       [-1.16058266, -1.58331854],
       [-0.47016576, -1.13783226],
       [ 0.31888214,  0.07983025],
       [-0.1742728 , -1.07843409],
       [ 1.69971595,  1.65388178],
       [ 1.00929905,  1.83207629],
       [ 0.31888214,  0.05013116],
       [-0.76605872, -0.21716061],
       [-0.07564181,  0.07983025],
       [ 0.31888214, -0.18746152],
       [ 1.99560891, -0.66264689],
       [-0.76605872,  1.38659001],
       [-1.75236858, -0.60324872],
       [-0.07564181,  0.13922842],
       [ 0.31888214, -0.30625786],
       [ 1.10793003,  0.5847147 ],
       [-0.96332069,  0.28772385],
       [ 1.50245398,  0.3768211 ],
       [ 0.22025115, -0.36565603],
       [ 2.19287089, -1.048735  ],
       [-0.27290378,  1.14899733],
       [-1.6537376 ,  0.07983025],
       [ 0.02298918,  0.05013116],
       [ 0.12162016,  1.08959916],
       [-0.07564181, -0.36565603],
       [-1.16058266,  0.07983025],
       [-0.27290378, -1.37542494],
       [ 1.60108497,  1.14899733],
       [-0.76605872, -1.55361946],
       [ 0.12162016,  1.92117355],
       [-0.8646897 , -0.78144323],
       [-0.47016576, -0.78144323],
       [-0.27290378, -0.92993866],
       [ 0.31888214, -0.72204506],
       [ 0.31888214,  0.07983025],
       [ 0.12162016,  1.92117355],
       [-1.06195168,  2.01027081],
       [-1.6537376 , -1.58331854],
       [-1.16058266, -1.10813317],
       [-0.66742773, -0.09836426],
       [ 0.12162016,  0.10952933],
       [ 0.31888214,  0.28772385],
       [ 0.91066806, -0.57354963],
       [ 0.31888214, -1.16753134],
       [-0.07564181,  0.70351104],
       [ 2.19287089, -0.69234597],
       [-1.25921365, -1.40512403],
       [-0.96332069, -0.95963774],
       [ 0.02298918, -0.42505421],
       [-0.1742728 , -0.45475329],
       [-1.75236858, -0.98933683],
       [ 1.79834694,  1.03020099],
       [ 0.22025115, -0.36565603],
       [ 0.41751312,  1.14899733],
       [-1.75236858, -1.37542494],
       [ 0.22025115, -0.12806335],
       [ 0.91066806, -1.4645222 ],
       [-1.94963056,  0.49561745],
       [-0.27290378,  0.28772385],
       [ 1.89697793, -1.07843409],
       [-0.37153477,  0.07983025],
       [ 1.10793003, -0.90023957],
       [-1.06195168, -1.13783226],
       [-1.85099957,  0.02043208],
       [ 0.12162016,  0.28772385],
       [-1.16058266,  0.34712202],
       [-1.25921365,  0.31742293],
       [-0.96332069,  0.46591836],
       [ 1.69971595, -0.90023957],
       [ 1.20656102,  0.55501562],
       [ 1.10793003,  0.55501562],
       [ 1.40382299,  2.39635892],
       [-0.27290378, -0.12806335],
       [ 0.41751312, -0.45475329],
       [-0.37153477, -0.78144323],
       [-0.07564181, -0.51415146],
       [ 1.00929905, -1.16753134],
       [-0.8646897 , -0.78144323],
       [-0.1742728 , -0.51415146],
       [-1.06195168, -0.45475329],
       [-1.16058266,  1.44598818]])

In [461]:
xtest=new.transform(xtest)

In [466]:
xtest

array([[-0.76605872,  0.52531653],
       [ 0.02298918, -0.57354963],
       [-0.27290378,  0.16892751],
       [-0.76605872,  0.28772385],
       [-0.27290378, -0.57354963],
       [-1.06195168, -1.4645222 ],
       [-0.66742773, -1.61301763],
       [-0.1742728 ,  2.21816441],
       [-1.94963056, -0.03896609],
       [ 0.91066806, -0.78144323],
       [-0.76605872, -0.60324872],
       [-0.96332069, -0.42505421],
       [-0.07564181, -0.42505421],
       [ 0.12162016,  0.22832568],
       [-1.75236858,  0.49561745],
       [-0.56879674,  1.4162891 ],
       [-0.07564181,  0.22832568],
       [-1.85099957,  0.46591836],
       [ 1.69971595,  1.80237721],
       [-0.27290378, -1.40512403],
       [-0.27290378, -0.66264689],
       [ 0.91066806,  2.21816441],
       [ 0.31888214, -0.54385055],
       [ 0.91066806,  1.05990007],
       [-1.45647562, -1.22692951],
       [ 1.10793003,  2.12906715],
       [-0.96332069,  0.52531653],
       [-0.8646897 ,  0.31742293],
       [-0.07564181, -0.21716061],
       [-0.56879674,  0.49561745],
       [-1.6537376 ,  0.55501562],
       [-0.07564181,  0.28772385],
       [ 1.89697793, -0.27655878],
       [-0.07564181, -0.48445238],
       [-1.35784464, -0.33595695],
       [-1.94963056, -0.51415146],
       [-1.55510661,  0.34712202],
       [-0.37153477, -0.78144323],
       [-0.66742773, -1.048735  ],
       [ 1.10793003, -0.98933683],
       [-1.06195168,  0.55501562],
       [ 0.31888214, -0.51415146],
       [-1.06195168,  0.43621927],
       [-0.27290378, -1.4645222 ],
       [ 0.51614411,  1.26779367],
       [-1.06195168, -0.33595695],
       [-0.07564181,  0.31742293],
       [ 1.40382299,  0.61441379],
       [-1.16058266, -1.16753134],
       [ 1.10793003,  0.49561745],
       [ 1.89697793,  1.56478452],
       [-0.37153477, -1.31602677],
       [-0.27290378, -0.36565603],
       [-0.37153477,  1.35689093],
       [ 2.0942399 ,  0.55501562],
       [ 0.71340608, -1.10813317],
       [-0.8646897 ,  0.40652019],
       [-1.16058266,  0.31742293],
       [ 1.10793003, -1.22692951],
       [-1.45647562, -1.4645222 ],
       [-0.56879674, -1.52392037],
       [ 2.19287089, -0.81114232],
       [-1.85099957,  0.19862659],
       [-0.1742728 ,  0.88170556],
       [-1.85099957, -1.28632769],
       [ 2.19287089,  0.40652019],
       [-1.35784464,  0.5847147 ],
       [-1.06195168, -0.33595695],
       [ 0.22025115, -0.66264689],
       [ 0.41751312,  0.02043208],
       [-0.56879674,  2.39635892],
       [-0.27290378,  0.22832568],
       [-1.55510661, -0.18746152],
       [ 0.71340608, -1.40512403],
       [-1.06195168,  0.5847147 ],
       [-1.94963056,  0.3768211 ],
       [ 0.41751312,  0.28772385],
       [ 0.22025115, -0.27655878],
       [ 1.50245398, -1.048735  ],
       [ 0.91066806,  1.11929824],
       [ 1.99560891,  2.21816441],
       [ 2.0942399 ,  0.40652019],
       [-1.35784464, -0.42505421],
       [-1.16058266, -1.01903592],
       [ 1.99560891, -0.92993866],
       [ 0.41751312,  0.31742293],
       [ 0.22025115,  0.16892751],
       [ 2.0942399 ,  1.80237721],
       [ 0.81203707, -0.8408414 ],
       [ 0.31888214, -0.27655878],
       [ 0.41751312, -0.15776244],
       [-0.07564181,  2.27756258],
       [-1.45647562, -0.6329478 ],
       [-1.25921365, -1.07843409],
       [-1.35784464,  0.43621927],
       [-1.06195168,  0.7926083 ],
       [-1.45647562, -0.18746152],
       [ 1.00929905, -1.07843409],
       [ 1.00929905,  0.61441379],
       [ 0.41751312,  1.03020099],
       [ 0.6147751 , -0.90023957],
       [-0.56879674,  1.50538635],
       [ 0.02298918, -0.57354963],
       [-0.56879674,  1.95087264],
       [ 1.40382299, -1.43482311],
       [ 1.50245398,  1.03020099],
       [ 0.12162016, -0.81114232],
       [ 0.02298918, -0.24685969],
       [-0.1742728 , -0.57354963],
       [-0.1742728 , -0.18746152],
       [-0.27290378, -1.31602677],
       [-0.27290378, -0.57354963],
       [ 0.41751312,  0.10952933],
       [ 0.91066806, -0.60324872],
       [ 2.0942399 , -1.19723043],
       [ 1.10793003, -0.12806335],
       [ 0.71340608,  1.83207629],
       [-0.66742773,  0.5847147 ],
       [ 0.81203707,  0.3768211 ],
       [ 0.91066806, -0.54385055],
       [-1.16058266, -1.61301763],
       [ 2.19287089,  0.97080281],
       [ 0.02298918,  1.26779367],
       [ 0.22025115,  1.11929824],
       [ 0.41751312, -0.48445238],
       [-0.27290378, -0.30625786],
       [ 1.00929905, -0.8408414 ],
       [ 1.00929905,  1.92117355],
       [ 0.02298918,  1.29749276],
       [-0.8646897 ,  2.33696075],
       [-1.16058266, -1.61301763],
       [ 2.19287089, -0.81114232],
       [-1.35784464, -1.49422128],
       [ 0.41751312,  2.36665983]])

In [463]:
from sklearn.tree import DecisionTreeClassifier

In [467]:
new=DecisionTreeClassifier(criterion='gini',random_state=0)

In [468]:
new.fit(xtrain,ytrain)

DecisionTreeClassifier(random_state=0)

In [469]:
pred=new.predict(xtest)

In [470]:
pred

array([0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1,
       0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1,
       0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 0, 0,
       0, 0, 0, 1, 1, 0, 1, 0, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0,
       0, 1], dtype=int64)

In [481]:
poo=pd.read_csv("iris.csv")

In [482]:
poo

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [483]:
x3=poo.iloc[:,0:4]

In [484]:
x3

     sepal_length  sepal_width  petal_length  petal_width
0             5.1          3.5           1.4          0.2
1             4.9          3.0           1.4          0.2
2             4.7          3.2           1.3          0.2
3             4.6          3.1           1.5          0.2
4             5.0          3.6           1.4          0.2
..            ...          ...           ...          ...
145           6.7          3.0           5.2          2.3
146           6.3          2.5           5.0          1.9
147           6.5          3.0           5.2          2.0
148           6.2          3.4           5.4          2.3
149           5.9          3.0           5.1          1.8

[150 rows x 4 columns]

In [485]:
y3=poo.iloc[:,4]

In [486]:
y3

0         setosa
1         setosa
2         setosa
3         setosa
4         setosa
         ...
145    virginica
146    virginica
147    virginica
148    virginica
149    virginica
Name: species, Length: 150, dtype: object

In [487]:
from sklearn.preprocessing import LabelEncoder

In [488]:
new=LabelEncoder()

In [496]:
new.fit(y3)

LabelEncoder()

In [499]:
y4=new.transform(y3)

In [500]:
y4

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2])

In [501]:
from sklearn.model_selection import train_test_split

In [504]:
xtrain,xtest,ytrain,ytest=train_test_split(x3,y4,test_size=1/3,random_state=0)

In [506]:
from sklearn.tree import DecisionTreeClassifier

In [507]:
new=DecisionTreeClassifier(criterion='gini',random_state=0)

In [508]:
new.fit(xtrain,ytrain)

DecisionTreeClassifier(random_state=0)

In [509]:
pred=new.predict(xtest)

In [510]:
pred

array([2, 1, 0, 2, 0, 2, 0, 1, 1, 1, 2, 1, 1, 1, 1, 0, 1, 1, 0, 0, 2, 1,
       0, 0, 2, 0, 0, 1, 1, 0, 2, 1, 0, 2, 2, 1, 0, 2, 1, 1, 2, 0, 2, 0,
       0, 1, 2, 2, 2, 2])

In [521]:
cred=pd.read_csv("credit-g_csv.csv")

In [524]:
cred.columns=['over_draft','credit_usage','credit_history','purpose','current_balance','Average_Credit_Balance','employment','location','personal_status','other_parties','low','property_mgnitude','cc_age','other_payment_plans','housing','existing_credits','job','num_dependents','num_telephone','foreign_worker','class']

In [538]:
cred

,over_draft,credit_usage,credit_history,purpose,current_balance,Average_Credit_Balance,employment,location,personal_status,other_parties,...,property_mgnitude,cc_age,other_payment_plans,housing,existing_credits,job,num_dependents,num_telephone,foreign_worker,class
0,<0,6,critical/other existing credit,radio/tv,1169,no known savings,>=7,4,male single,none,...,real estate,67,none,own,2,skilled,1,yes,yes,good
1,0<=X<200,48,existing paid,radio/tv,5951,<100,1<=X<4,2,female div/dep/mar,none,...,real estate,22,none,own,1,skilled,1,none,yes,bad
2,no checking,12,critical/other existing credit,education,2096,<100,4<=X<7,2,male single,none,...,real estate,49,none,own,1,unskilled resident,2,none,yes,good
3,<0,42,existing paid,furniture/equipment,7882,<100,4<=X<7,2,male single,guarantor,...,life insurance,45,none,for free,1,skilled,2,none,yes,good
4,<0,24,delayed previously,new car,4870,<100,1<=X<4,3,male single,none,...,no known property,53,none,for free,2,skilled,2,none,yes,bad
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,no checking,12,existing paid,furniture/equipment,1736,<100,4<=X<7,3,female div/dep/mar,none,...,real estate,31,none,own,1,unskilled resident,1,none,yes,good
996,<0,30,existing paid,used car,3857,<100,1<=X<4,4,male div/sep,none,...,life insurance,40,none,own,1,high qualif/self emp/mgmt,1,yes,yes,good
997,no checking,12,existing paid,radio/tv,804,<100,>=7,4,male single,none,...,car,38,none,own,1,skilled,1,none,yes,good
998,<0,45,existing paid,radio/tv,1845,<100,1<=X<4,4,male single,none,...,no known property,23,none,for free,1,skilled,1,yes,yes,bad
999,0<=X<200,45,critical/other existing credit,used car,4576,100<=X<500,unemployed,3,male single,none,...,car,27,none,own,1,skilled,1,none,yes,good

In [556]:
x5=cred.iloc[:,:21]

In [540]:
x5

,over_draft,credit_usage,credit_history,purpose,current_balance,Average_Credit_Balance,employment,location,personal_status,other_parties,...,property_mgnitude,cc_age,other_payment_plans,housing,existing_credits,job,num_dependents,num_telephone,foreign_worker,class
0,<0,6,critical/other existing credit,radio/tv,1169,no known savings,>=7,4,male single,none,...,real estate,67,none,own,2,skilled,1,yes,yes,good
1,0<=X<200,48,existing paid,radio/tv,5951,<100,1<=X<4,2,female div/dep/mar,none,...,real estate,22,none,own,1,skilled,1,none,yes,bad
2,no checking,12,critical/other existing credit,education,2096,<100,4<=X<7,2,male single,none,...,real estate,49,none,own,1,unskilled resident,2,none,yes,good
3,<0,42,existing paid,furniture/equipment,7882,<100,4<=X<7,2,male single,guarantor,...,life insurance,45,none,for free,1,skilled,2,none,yes,good
4,<0,24,delayed previously,new car,4870,<100,1<=X<4,3,male single,none,...,no known property,53,none,for free,2,skilled,2,none,yes,bad
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,no checking,12,existing paid,furniture/equipment,1736,<100,4<=X<7,3,female div/dep/mar,none,...,real estate,31,none,own,1,unskilled resident,1,none,yes,good
996,<0,30,existing paid,used car,3857,<100,1<=X<4,4,male div/sep,none,...,life insurance,40,none,own,1,high qualif/self emp/mgmt,1,yes,yes,good
997,no checking,12,existing paid,radio/tv,804,<100,>=7,4,male single,none,...,car,38,none,own,1,skilled,1,none,yes,good
998,<0,45,existing paid,radio/tv,1845,<100,1<=X<4,4,male single,none,...,no known property,23,none,for free,1,skilled,1,yes,yes,bad
999,0<=X<200,45,critical/other existing credit,used car,4576,100<=X<500,unemployed,3,male single,none,...,car,27,none,own,1,skilled,1,none,yes,good

In [547]:
y=cred.iloc[:,20:]

In [548]:
y

    class
0    good
1     bad
2    good
3    good
4     bad
..    ...
995  good
996  good
997  good
998   bad
999  good

[1000 rows x 1 columns]

In [549]:
from sklearn.model_selection import train_test_split

In [550]:
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=1/3,random_state=0)

In [552]:
from sklearn.tree import DecisionTreeClassifier

In [557]:
new=DecisionTreeClassifier()

In [558]:
new.fit(xtrain,ytrain)

ValueError: could not convert string to float: 'no checking'

In [560]:
a=pd.read_csv("dataset/tips.csv")

In [561]:
a

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [567]:
a.isnull().sum()

total_bill    0
tip           0
sex           0
smoker        0
day           0
time          0
size          0
dtype: int64

In [569]:
a.shape

(244, 7)

In [571]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import OrdinalEncoder
from sklearn.compose import ColumnTransformer
from sklearn.impute import SimpleImputer

In [617]:
x=a.drop(columns=['tip'])
x

     total_bill     sex smoker   day    time  size
0         16.99  Female     No   Sun  Dinner     2
1         10.34    Male     No   Sun  Dinner     3
2         21.01    Male     No   Sun  Dinner     3
3         23.68    Male     No   Sun  Dinner     2
4         24.59  Female     No   Sun  Dinner     4
..          ...     ...    ...   ...     ...   ...
239       29.03    Male     No   Sat  Dinner     3
240       27.18  Female    Yes   Sat  Dinner     2
241       22.67    Male    Yes   Sat  Dinner     2
242       17.82    Male     No   Sat  Dinner     2
243       18.78  Female     No  Thur  Dinner     2

[244 rows x 6 columns]

In [607]:
y=a[['tip']]
y

      tip
0    1.01
1    1.66
2    3.50
3    3.31
4    3.61
..    ...
239  5.92
240  2.00
241  2.00
242  1.75
243  3.00

[244 rows x 1 columns]

In [619]:
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=0.2)

In [627]:
xtrain

     total_bill     sex smoker   day    time  size
69        15.01    Male    Yes   Sat  Dinner     2
107       25.21    Male    Yes   Sat  Dinner     2
3         23.68    Male     No   Sun  Dinner     2
182       45.35    Male    Yes   Sun  Dinner     3
214       28.17  Female    Yes   Sat  Dinner     3
..          ...     ...    ...   ...     ...   ...
166       20.76    Male     No   Sun  Dinner     2
54        25.56    Male     No   Sun  Dinner     4
63        18.29    Male    Yes   Sat  Dinner     4
200       18.71    Male    Yes  Thur   Lunch     3
223       15.98  Female     No   Fri   Lunch     3

[195 rows x 6 columns]

In [621]:
xtest.shape

(49, 6)

In [622]:
ytrain.shape

(195, 1)

In [623]:
xtest.shape

(49, 6)

In [640]:
tr=ColumnTransformer(
transformers=[
    ('tr1',OrdinalEncoder(categories=[['Thur','Fri','Sat','Sun']]),['day']),
    ('tr2',OneHotEncoder(sparse=False,drop='first'),['sex','smoker','time'])
],
remainder="passthrough")

In [641]:
tr

ColumnTransformer(remainder='passthrough',
                  transformers=[('tr1',
                                 OrdinalEncoder(categories=[['Thur', 'Fri',
                                                             'Sat', 'Sun']]),
                                 ['day']),
                                ('tr2',
                                 OneHotEncoder(drop='first', sparse=False),
                                 ['sex', 'smoker', 'time'])])

In [642]:
tr.fit_transform(x_train)

ValueError: Specifying the columns using strings is only supported for pandas DataFrames